{% comment %}
  Expects: endpoint, bound_uri, base_url
{% endcomment %}
{% assign method = endpoint.httpMethods[0] | downcase %}
<pre><code class="language-php">$client = new \GuzzleHttp\Client();
$url = '{{ base_url }}/{{ bound_uri }}';
{% if endpoint.headers.size > 0 or endpoint.cleanQueryParameters.size > 0 or endpoint.cleanBodyParameters.size > 0 %}
$response = $client->{{ method }}(
    $url,
    [
{% if endpoint.headers.size > 0 %}        'headers' => [
{% for header in endpoint.headers %}            '{{ header[0] }}' => '{{ header[1] }}'{% unless forloop.last %},{% endunless %}

{% endfor %}        ],
{% endif %}{% if endpoint.cleanQueryParameters.size > 0 %}        'query' => [
{% for param in endpoint.cleanQueryParameters %}            '{{ param[0] }}' => '{{ param[1] }}'{% unless forloop.last %},{% endunless %}

{% endfor %}        ],
{% endif %}{% if endpoint.cleanBodyParameters.size > 0 %}        'json' => {{ endpoint.cleanBodyParameters | jsonify }},
{% endif %}    ]
);
{% else %}
$response = $client->{{ method }}($url);
{% endif %}
$body = $response->getBody();
print_r(json_decode((string) $body));</code></pre>
