<header>
  <div class="flex items-center justify-between h-16 before:block">

    <div class="flex items-center">
      <a href="{{ "/" | relative_url }}" class="flex items-center">
        <span class="text-cyan-500">{% include icons/builtfast.svg %}</span>
        <span class="font-outfit tracking-wider font-semibold text-gray-900 dark:text-white text-xl uppercase italic ml-2">BuiltFast.dev</span>
      </a>
    </div>

    <div class="grow flex justify-end space-x-4">
      {% include search.html %}

      <!-- Light switch -->
      <div class="flex flex-col justify-center">
        <input type="checkbox" name="light-switch" id="light-switch" class="light-switch sr-only" />
        <label class="relative cursor-pointer p-1" for="light-switch">
          <div class="dark:hidden text-slate-400 scale-75">
            {% include icons/sun.svg %}
          </div>
          <div class="hidden dark:block text-slate-400 scale-75">
            {% include icons/moon.svg %}
          </div>
          <span class="sr-only">Switch to light / dark version</span>
        </label>
      </div>
    </div>
  </div>
</header>
