{% comment %}
Icon dispatcher - maps icon names to SVG partials
Usage: {% include icon.html name="check" size="sm" class="text-green-500" %}

Parameters:
  - name: Icon name (required) - matches filename in _includes/icons/
  - size: Tailwind size number (default: 4) - becomes w-{size} h-{size}
  - class: Additional CSS classes to add
{% endcomment %}
{% case include.name %}
  {% when 'arrow-left' %}{% include icons/arrow-left.html size=include.size class=include.class %}
  {% when 'arrow-right' %}{% include icons/arrow-right.html size=include.size class=include.class %}
  {% when 'archive' %}{% include icons/archive.html size=include.size class=include.class %}
  {% when 'book' %}{% include icons/book.html size=include.size class=include.class %}
  {% when 'book-open' %}{% include icons/book-open.html size=include.size class=include.class %}
  {% when 'box' %}{% include icons/box.html size=include.size class=include.class %}
  {% when 'cat' %}{% include icons/cat.html size=include.size class=include.class %}
  {% when 'check' %}{% include icons/check.html size=include.size class=include.class %}
  {% when 'check-circle' %}{% include icons/check-circle.html size=include.size class=include.class %}
  {% when 'chevron-down' %}{% include icons/chevron-down.html size=include.size class=include.class %}
  {% when 'chevron-left' %}{% include icons/chevron-left.html size=include.size class=include.class %}
  {% when 'chevron-right' %}{% include icons/chevron-right.html size=include.size class=include.class %}
  {% when 'clock' %}{% include icons/clock.html size=include.size class=include.class %}
  {% when 'copy' %}{% include icons/copy.html size=include.size class=include.class %}
  {% when 'external-link' %}{% include icons/external-link.html size=include.size class=include.class %}
  {% when 'file-code-2' %}{% include icons/file-code-2.html size=include.size class=include.class %}
  {% when 'file-json' %}{% include icons/file-json.html size=include.size class=include.class %}
  {% when 'github' %}{% include icons/github.html size=include.size class=include.class %}
  {% when 'handshake' %}{% include icons/handshake.html size=include.size class=include.class %}
  {% when 'home' %}{% include icons/home.html size=include.size class=include.class %}
  {% when 'link' %}{% include icons/link.html size=include.size class=include.class %}
  {% when 'mail' %}{% include icons/mail.html size=include.size class=include.class %}
  {% when 'menu' %}{% include icons/menu.html size=include.size class=include.class %}
  {% when 'message-circle' %}{% include icons/message-circle.html size=include.size class=include.class %}
  {% when 'message-square' %}{% include icons/message-square.html size=include.size class=include.class %}
  {% when 'pen-line' %}{% include icons/pen-line.html size=include.size class=include.class %}
  {% when 'pencil' %}{% include icons/pencil.html size=include.size class=include.class %}
  {% when 'rocket' %}{% include icons/rocket.html size=include.size class=include.class %}
  {% when 'scale' %}{% include icons/scale.html size=include.size class=include.class %}
  {% when 'search' %}{% include icons/search.html size=include.size class=include.class %}
  {% when 'shield-alert' %}{% include icons/shield-alert.html size=include.size class=include.class %}
  {% when 'terminal' %}{% include icons/terminal.html size=include.size class=include.class %}
  {% when 'x' %}{% include icons/x.html size=include.size class=include.class %}
  {% when 'bluesky' %}{% include icons/bluesky.html size=include.size class=include.class %}
  {% when 'linkedin' %}{% include icons/linkedin.html size=include.size class=include.class %}
  {% when 'twitter' %}{% include icons/twitter.html size=include.size class=include.class %}
{% endcase %}
