openapi: 3.1.0
info:
  title: 'Vector Pro'
  description: "A public API for interacting with Vector Pro by BuiltFast.\n\nFor more information, visit [builtfast.com/vector](https://builtfast.com/vector)."
  version: 1.0.0
  contact:
    name: 'BuiltFast Support'
    url: 'https://builtfast.com/support'
    email: support@builtfast.com
  termsOfService: 'https://builtfast.com/terms'
servers:
  -
    url: 'https://api.builtfast.com'
tags:
  -
    name: Sites
    description: "\nManage serverless WordPress sites deployed on Vector infrastructure. Sites are\nthe primary resource representing customer applications, each with associated\nenvironments (staging/production), deployments, and CDN configurations.\n\nSites are created with a `pending` status and transition to `active` once provisioning\ncompletes. You can suspend sites to reduce costs during low-traffic periods.\n\n#### Site Status Lifecycle\n\n- `pending` - Site creation initiated, provisioning in progress\n- `active` - Site is fully operational and serving traffic\n- `suspended` - Site is paused to reduce costs (can be unsuspended)\n- `terminating` - Site deletion in progress\n- `terminated` - Site has been fully removed"
  -
    name: Environments
    description: "\nManage deployment environments for sites. Each site can have multiple environments\nwith their own domains, PHP versions, and secrets. Environment names use a slug format\n(lowercase letters, numbers, and hyphens).\n\nEnvironments are created with a `pending` status and transition to `active` once\ncontainer provisioning completes. Each environment gets a unique subdomain under\nyour registered domain.\n\n#### Environment Status Lifecycle\n\n- `pending` - Environment creation initiated, provisioning in progress\n- `active` - Environment is fully operational\n- `suspended` - Environment is paused\n- `terminating` - Environment deletion in progress\n- `terminated` - Environment has been fully removed\n\n#### Production Environment\n\nEach site can have at most one production environment (`is_production: true`).\nThe production environment receives CDN integration via Bunny.net."
  -
    name: Account
    description: "\nManage your Vector Pro account settings including API keys, SSH keys, and global secrets."
  -
    name: Authentication
    description: ''
  -
    name: Backups
    description: ''
  -
    name: Events
    description: "\nView event logs for Vector Pro resources. Events are logged automatically when\nactions occur (site creation, deployments, etc.) and are retained for 90 days.\n\nEvent logs provide an audit trail of all activity in your account.\n\n#### Actor Tracking\n\nEach event includes an `actor` object when the action was triggered via the API:\n- `ip` - The IP address of the request\n- `token_name` - The name of the API token used\n\nThe `actor` field is omitted for events triggered by system processes (scheduled tasks,\nqueue workers processing internal jobs, etc.) where no user context exists.\n\n#### Event Naming Convention\n\nEvents follow a consistent dot-notation pattern:\n- Simple actions: `{entity}.{action}` (e.g., `site.created`, `site.updated`)\n- Lifecycle operations: `{entity}.{operation}.{phase}` (e.g., `site.provisioning.started`)\n\n#### Available Event Types\n\n##### Site Events\n\n| Event | Description |\n|-------|-------------|\n| `site.created` | Site record has been created |\n| `site.updated` | Site settings have been modified |\n| `site.cloned` | Site has been cloned from another site |\n| `site.provisioning.started` | Container provisioning has started |\n| `site.provisioning.completed` | Site is fully provisioned and running |\n| `site.provisioning.failed` | Site provisioning failed |\n| `site.suspension.started` | Site suspension has started |\n| `site.suspension.completed` | Site has been suspended |\n| `site.unsuspension.started` | Site unsuspension has started |\n| `site.unsuspension.completed` | Site has been unsuspended |\n| `site.termination.started` | Site termination has started |\n| `site.termination.completed` | Site has been terminated |\n| `site.sftp.password.reset` | SFTP password has been reset |\n| `site.database.password.reset` | Database password has been reset |\n| `site.sshkey.added` | SSH key has been added to site |\n| `site.sshkey.removed` | SSH key has been removed from site |\n| `site.database.import.started` | Database import has started |\n| `site.database.import.completed` | Database import completed successfully |\n| `site.database.import.failed` | Database import failed |\n| `site.database.export.started` | Database export has started |\n| `site.database.export.completed` | Database export completed successfully |\n| `site.database.export.failed` | Database export failed |\n\n##### SSH Key Events\n\n| Event | Description |\n|-------|-------------|\n| `sshkey.created` | SSH key has been created |\n| `sshkey.deleted` | SSH key has been deleted |\n\n##### Environment Events\n\n| Event | Description |\n|-------|-------------|\n| `environment.created` | Production environment has been created |\n| `environment.updated` | Environment settings have been modified |\n| `environment.provisioning.started` | Environment provisioning has started |\n| `environment.provisioning.completed` | Environment is fully provisioned |\n| `environment.provisioning.failed` | Environment provisioning failed |\n| `environment.suspension.started` | Environment suspension has started |\n| `environment.suspension.completed` | Environment has been suspended |\n| `environment.unsuspension.started` | Environment unsuspension has started |\n| `environment.unsuspension.completed` | Environment has been unsuspended |\n| `environment.termination.started` | Environment termination has started |\n| `environment.termination.completed` | Environment has been terminated |\n| `environment.database.password.reset` | Database password has been reset |\n\n##### Deployment Events\n\n| Event | Description |\n|-------|-------------|\n| `deployment.started` | Deployment to production has started |\n| `deployment.completed` | Deployment completed successfully |\n| `deployment.failed` | Deployment failed |\n| `deployment.rollback.started` | Deployment rollback has started |\n| `deployment.rollback.completed` | Deployment rollback completed |\n| `deployment.rollback.failed` | Deployment rollback failed |\n\n##### CDN Events\n\n| Event | Description |\n|-------|-------------|\n| `cdn.setup.started` | CDN configuration has started |\n| `cdn.setup.completed` | CDN setup completed successfully |\n| `cdn.setup.failed` | CDN setup failed |\n\n##### DNS Events\n\n| Event | Description |\n|-------|-------------|\n| `dns.record.created` | DNS record has been created |\n| `dns.record.deleted` | DNS record has been deleted |\n\n##### WAF Events\n\n| Event | Description |\n|-------|-------------|\n| `waf.ratelimit.created` | Rate limit rule has been created |\n| `waf.ratelimit.updated` | Rate limit rule has been updated |\n| `waf.ratelimit.deleted` | Rate limit rule has been deleted |\n| `waf.blockedip.created` | IP block has been created |\n| `waf.blockedip.deleted` | IP block has been removed |\n| `waf.blockedreferrer.created` | Referrer block has been created |\n| `waf.blockedreferrer.deleted` | Referrer block has been removed |\n| `waf.allowedreferrer.created` | Allowed referrer has been added |\n| `waf.allowedreferrer.deleted` | Allowed referrer has been removed |\n\n##### Secret Events\n\n| Event | Description |\n|-------|-------------|\n| `secret.created` | Secret has been created |\n| `secret.updated` | Secret has been updated |\n| `secret.deleted` | Secret has been deleted |\n\n##### Domain Events\n\n| Event | Description |\n|-------|-------------|\n| `domain.created` | Domain has been registered |\n| `domain.deleted` | Domain has been deleted |\n\n##### API Key Events\n\n| Event | Description |\n|-------|-------------|\n| `apikey.created` | API key has been created |\n| `apikey.deleted` | API key has been deleted |\n\n##### Webhook Events\n\n| Event | Description |\n|-------|-------------|\n| `webhook.created` | Webhook endpoint has been registered |\n| `webhook.updated` | Webhook configuration has been modified |\n| `webhook.deleted` | Webhook endpoint has been removed |\n\n##### Cache Events\n\n| Event | Description |\n|-------|-------------|\n| `cache.purged` | Cache has been purged |"
  -
    name: 'PHP Versions'
    description: "\nGet available PHP versions for Vector environments."
  -
    name: Restores
    description: ''
  -
    name: Webhooks
    description: "\nManage webhooks that receive site event notifications. Webhooks are called when\nevents occur on your sites (deployments, status changes, etc.).\n\nSupports both HTTP webhooks and Slack webhooks for notifications.\n\n#### Webhook Signature Verification\n\nHTTP webhook payloads include an `X-Vector-Signature` header for verifying\nauthenticity. The header format is:\n\n```\nX-Vector-Signature: t=1234567890,v1=abc123...\n```\n\nTo verify a webhook:\n\n1. Parse the timestamp (`t`) and signature (`v1`) from the header\n2. Construct the signed message: `{timestamp}.{raw_request_body}`\n3. Compute HMAC-SHA256 using your webhook secret as the key\n4. Compare with the provided signature using constant-time comparison\n5. Validate timestamp is within tolerance (recommended: 5 minutes)\n\nExample verification (PHP):\n\n```php\n$header = $request->header('X-Vector-Signature');\npreg_match('/t=(\\d+),v1=([a-f0-9]+)/', $header, $matches);\n$timestamp = $matches[1];\n$signature = $matches[2];\n\n$message = $timestamp . '.' . $request->getContent();\n$expected = hash_hmac('sha256', $message, $webhookSecret);\n\nif (!hash_equals($expected, $signature)) {\n    throw new Exception('Invalid signature');\n}\n\nif (abs(time() - (int)$timestamp) > 300) {\n    throw new Exception('Timestamp too old');\n}\n```"
components:
  securitySchemes:
    default:
      type: http
      scheme: bearer
      description: 'You can retrieve your API key from your Vector dashboard.'
security:
  -
    default: []
paths:
  /api/v1/vector/sites:
    get:
      summary: 'List Sites'
      operationId: listSites
      description: "Retrieves a paginated list of all sites for the authenticated account.\nResults include each site's environments and their associated domains.\n\nUse `search` to filter by customer ID or subdomain, `status` to filter by\nsite lifecycle state, and `sort`/`direction` to control ordering. The\n`last_deployed_at` field is computed from the most recent completed\ndeployment across all environments and can also be used as a sort field."
      parameters:
        -
          in: query
          name: per_page
          description: 'Number of items per page (max 100). Default: 15.'
          required: false
          schema:
            type: integer
            description: 'Number of items per page (max 100). Default: 15.'
            examples:
              - 25
        -
          in: query
          name: search
          description: 'Search by `your_customer_id` or `subdomain` (partial, case-insensitive).'
          required: false
          schema:
            type:
              - string
              - 'null'
            description: 'Search by `your_customer_id` or `subdomain` (partial, case-insensitive).'
            examples:
              - acme
        -
          in: query
          name: status
          description: 'Filter by site status. Must be one of: `pending`, `activation_requested`, `active`, `suspension_requested`, `suspended`, `unsuspension_requested`, `termination_requested`, `terminated`, `canceled`.'
          required: false
          schema:
            type: string
            description: 'Filter by site status. Must be one of: `pending`, `activation_requested`, `active`, `suspension_requested`, `suspended`, `unsuspension_requested`, `termination_requested`, `terminated`, `canceled`.'
            examples:
              - active
        -
          in: query
          name: sort
          description: 'Sort results by the given field. Must be one of: `created_at`, `updated_at`, `status`, `your_customer_id`, `last_deployed_at`. Default: `created_at`.'
          required: false
          schema:
            type: string
            description: 'Sort results by the given field. Must be one of: `created_at`, `updated_at`, `status`, `your_customer_id`, `last_deployed_at`. Default: `created_at`.'
            examples:
              - your_customer_id
        -
          in: query
          name: direction
          description: 'Sort direction. Must be `asc` or `desc`. Default: `desc`.'
          required: false
          schema:
            type: string
            description: 'Sort direction. Must be `asc` or `desc`. Default: `desc`.'
            examples:
              - asc
        -
          in: query
          name: page
          description: 'Page number for pagination. Default: 1.'
          required: false
          schema:
            type: integer
            description: 'Page number for pagination. Default: 1.'
            examples:
              - 1
      responses:
        200:
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          type: string
                          examples:
                            - 01jfgxk4nqrst5vwx9yz0abcde
                        your_customer_id:
                          type: string
                          examples:
                            - cust_12345
                        status:
                          type: string
                          examples:
                            - active
                        dev_php_version:
                          type: string
                          examples:
                            - '8.3'
                        tags:
                          type: array
                          items:
                            type: string
                          examples:
                            -
                              - wordpress
                              - production
                        dev_domain:
                          type: string
                          examples:
                            - dev.wispy-dust.vectorpages.com
                        dev_db_host:
                          type: string
                          examples:
                            - dev-cluster.abc123.us-east-1.rds.amazonaws.com
                        dev_db_name:
                          type: string
                          examples:
                            - db_01jfgxk4nqrst5vwx9yz0abcde
                        dev_sftp:
                          type: object
                          properties:
                            hostname:
                              type: string
                              examples:
                                - ssh.vectorpages.com
                            port:
                              type: integer
                              examples:
                                - 22
                            username:
                              type: string
                              examples:
                                - wispy-dust
                        last_deployed_at:
                          type: string
                          examples:
                            - '2025-06-10T14:30:00+00:00'
                        environments:
                          type: array
                          items:
                            type: object
                            properties:
                              id:
                                type: string
                                examples:
                                  - 01jfgxk4nqrst5vwx9yz0abcdg
                              name:
                                type: string
                                examples:
                                  - production
                              is_production:
                                type: boolean
                                examples:
                                  - true
                              status:
                                type: string
                                examples:
                                  - active
                              php_version:
                                type: string
                                examples:
                                  - '8.3'
                              platform_domain:
                                type: string
                                examples:
                                  - wispy-dust--prod.vectorpages.com
                              custom_domain:
                                type: string
                                examples:
                                  - example.com
                              custom_domain_certificate_status:
                                type: string
                                examples:
                                  - issued
                              created_at:
                                type: string
                                examples:
                                  - '2025-01-15T12:00:00+00:00'
                              updated_at:
                                type: string
                                examples:
                                  - '2025-01-15T12:00:00+00:00'
                          examples:
                            -
                              -
                                id: 01jfgxk4nqrst5vwx9yz0abcdg
                                name: production
                                is_production: true
                                status: active
                                php_version: '8.3'
                                platform_domain: wispy-dust--prod.vectorpages.com
                                custom_domain: example.com
                                custom_domain_certificate_status: issued
                                created_at: '2025-01-15T12:00:00+00:00'
                                updated_at: '2025-01-15T12:00:00+00:00'
                        created_at:
                          type: string
                          examples:
                            - '2025-01-15T12:00:00+00:00'
                        updated_at:
                          type: string
                          examples:
                            - '2025-01-15T12:00:00+00:00'
                    examples:
                      -
                        -
                          id: 01jfgxk4nqrst5vwx9yz0abcde
                          your_customer_id: cust_12345
                          status: active
                          dev_php_version: '8.3'
                          tags:
                            - wordpress
                            - production
                          dev_domain: dev.wispy-dust.vectorpages.com
                          dev_db_host: dev-cluster.abc123.us-east-1.rds.amazonaws.com
                          dev_db_name: db_01jfgxk4nqrst5vwx9yz0abcde
                          dev_sftp:
                            hostname: ssh.vectorpages.com
                            port: 22
                            username: wispy-dust
                          last_deployed_at: '2025-06-10T14:30:00+00:00'
                          environments:
                            -
                              id: 01jfgxk4nqrst5vwx9yz0abcdg
                              name: production
                              is_production: true
                              status: active
                              php_version: '8.3'
                              platform_domain: wispy-dust--prod.vectorpages.com
                              custom_domain: example.com
                              custom_domain_certificate_status: issued
                              created_at: '2025-01-15T12:00:00+00:00'
                              updated_at: '2025-01-15T12:00:00+00:00'
                          created_at: '2025-01-15T12:00:00+00:00'
                          updated_at: '2025-01-15T12:00:00+00:00'
                  links:
                    type: object
                    properties: {  }
                  meta:
                    type: object
                    properties: {  }
                  message:
                    type: string
                    examples:
                      - 'Sites retrieved successfully'
                  http_status:
                    type: integer
                    examples:
                      - 200
                examples:
                  -
                    data:
                      -
                        id: 01jfgxk4nqrst5vwx9yz0abcde
                        your_customer_id: cust_12345
                        status: active
                        dev_php_version: '8.3'
                        tags:
                          - wordpress
                          - production
                        dev_domain: dev.wispy-dust.vectorpages.com
                        dev_db_host: dev-cluster.abc123.us-east-1.rds.amazonaws.com
                        dev_db_name: db_01jfgxk4nqrst5vwx9yz0abcde
                        dev_sftp:
                          hostname: ssh.vectorpages.com
                          port: 22
                          username: wispy-dust
                        last_deployed_at: '2025-06-10T14:30:00+00:00'
                        environments:
                          -
                            id: 01jfgxk4nqrst5vwx9yz0abcdg
                            name: production
                            is_production: true
                            status: active
                            php_version: '8.3'
                            platform_domain: wispy-dust--prod.vectorpages.com
                            custom_domain: example.com
                            custom_domain_certificate_status: issued
                            created_at: '2025-01-15T12:00:00+00:00'
                            updated_at: '2025-01-15T12:00:00+00:00'
                        created_at: '2025-01-15T12:00:00+00:00'
                        updated_at: '2025-01-15T12:00:00+00:00'
                    links: {  }
                    meta: {  }
                    message: 'Sites retrieved successfully'
                    http_status: 200
        401:
          description: Unauthenticated
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    properties: {  }
                  message:
                    type: string
                    examples:
                      - Unauthenticated
                  http_status:
                    type: integer
                    examples:
                      - 401
                examples:
                  -
                    data: {  }
                    message: Unauthenticated
                    http_status: 401
        403:
          description: Unauthorized
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    properties: {  }
                  message:
                    type: string
                    examples:
                      - Unauthorized
                  http_status:
                    type: integer
                    examples:
                      - 403
                examples:
                  -
                    data: {  }
                    message: Unauthorized
                    http_status: 403
        422:
          description: 'Validation Error'
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    properties: {  }
                  errors:
                    type: object
                    properties:
                      status:
                        type: array
                        items:
                          type: string
                        examples:
                          -
                            - 'The status must be a valid site status.'
                  message:
                    type: string
                    examples:
                      - 'Validation failed'
                  http_status:
                    type: integer
                    examples:
                      - 422
                examples:
                  -
                    data: {  }
                    errors:
                      status:
                        - 'The status must be a valid site status.'
                    message: 'Validation failed'
                    http_status: 422
      tags:
        - Sites
    post:
      summary: 'Create Site'
      operationId: createSite
      description: "Creates a new site for the authenticated account. The site is created with a\n`pending` status and will transition to `active` once provisioning completes.\n\nA development container is automatically provisioned for the site, accessible\nvia the `dev_domain` in the response."
      parameters: []
      responses:
        201:
          description: Created
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    properties:
                      id:
                        type: string
                        examples:
                          - 01jfgxk4nqrst5vwx9yz0abcde
                      your_customer_id:
                        type: string
                        examples:
                          - cust_12345
                      status:
                        type: string
                        examples:
                          - pending
                      dev_php_version:
                        type: string
                        examples:
                          - '8.3'
                      tags:
                        type: array
                        items:
                          type: string
                        examples:
                          -
                            - wordpress
                            - production
                      dev_domain:
                        type: string
                        examples:
                          - dev.wispy-dust.vectorpages.com
                      dev_db_host:
                        type: string
                        examples:
                          - dev-cluster.abc123.us-east-1.rds.amazonaws.com
                      dev_db_name:
                        type: string
                        examples:
                          - db_01jfgxk4nqrst5vwx9yz0abcde
                      dev_sftp:
                        type: object
                        properties:
                          hostname:
                            type: string
                            examples:
                              - ssh.vectorpages.com
                          port:
                            type: integer
                            examples:
                              - 22
                          username:
                            type: string
                            examples:
                              - wispy-dust
                          password:
                            type: string
                            examples:
                              - 'aBcD1234!@#$EfGh5678'
                      dev_db_username:
                        type: string
                        examples:
                          - db_01jfgxk4nqrst5vwx9yz0abcde
                      dev_db_password:
                        type: string
                        examples:
                          - 'aBcD1234!@#$EfGh5678'
                      wp_admin:
                        type: object
                        properties:
                          user:
                            type: string
                            examples:
                              - myadmin
                          email:
                            type: string
                            examples:
                              - admin@example.com
                          password:
                            type: string
                            examples:
                              - 'xYz9876!@#$AbCd5432'
                          site_title:
                            type: string
                            examples:
                              - 'My Blog'
                      environments:
                        type: array
                        items:
                          type: object
                          properties:
                            id:
                              type: string
                              examples:
                                - 01jfgxk4nqrst5vwx9yz0abcdg
                            name:
                              type: string
                              examples:
                                - production
                            is_production:
                              type: boolean
                              examples:
                                - true
                            status:
                              type: string
                              examples:
                                - pending
                            php_version:
                              type: string
                              examples:
                                - '8.3'
                            platform_domain:
                              type: string
                              examples:
                                - wispy-dust--prod.vectorpages.com
                            custom_domain:
                              type: string
                              examples:
                                - example.com
                            custom_domain_certificate_status:
                              type: string
                              examples:
                                - pending
                            created_at:
                              type: string
                              examples:
                                - '2025-01-15T12:00:00+00:00'
                            updated_at:
                              type: string
                              examples:
                                - '2025-01-15T12:00:00+00:00'
                        examples:
                          -
                            -
                              id: 01jfgxk4nqrst5vwx9yz0abcdg
                              name: production
                              is_production: true
                              status: pending
                              php_version: '8.3'
                              platform_domain: wispy-dust--prod.vectorpages.com
                              custom_domain: example.com
                              custom_domain_certificate_status: pending
                              created_at: '2025-01-15T12:00:00+00:00'
                              updated_at: '2025-01-15T12:00:00+00:00'
                            -
                              id: 01jfgxk4nqrst5vwx9yz0abcdh
                              name: staging
                              is_production: false
                              status: pending
                              php_version: '8.3'
                              platform_domain: wispy-dust--staging.vectorpages.com
                              custom_domain: null
                              custom_domain_certificate_status: null
                              created_at: '2025-01-15T12:00:00+00:00'
                              updated_at: '2025-01-15T12:00:00+00:00'
                      created_at:
                        type: string
                        examples:
                          - '2025-01-15T12:00:00+00:00'
                      updated_at:
                        type: string
                        examples:
                          - '2025-01-15T12:00:00+00:00'
                  message:
                    type: string
                    examples:
                      - 'Vector site creation initiated'
                  http_status:
                    type: integer
                    examples:
                      - 201
                examples:
                  -
                    data:
                      id: 01jfgxk4nqrst5vwx9yz0abcde
                      your_customer_id: cust_12345
                      status: pending
                      dev_php_version: '8.3'
                      tags:
                        - wordpress
                        - production
                      dev_domain: dev.wispy-dust.vectorpages.com
                      dev_db_host: dev-cluster.abc123.us-east-1.rds.amazonaws.com
                      dev_db_name: db_01jfgxk4nqrst5vwx9yz0abcde
                      dev_sftp:
                        hostname: ssh.vectorpages.com
                        port: 22
                        username: wispy-dust
                        password: 'aBcD1234!@#$EfGh5678'
                      dev_db_username: db_01jfgxk4nqrst5vwx9yz0abcde
                      dev_db_password: 'aBcD1234!@#$EfGh5678'
                      wp_admin:
                        user: myadmin
                        email: admin@example.com
                        password: 'xYz9876!@#$AbCd5432'
                        site_title: 'My Blog'
                      environments:
                        -
                          id: 01jfgxk4nqrst5vwx9yz0abcdg
                          name: production
                          is_production: true
                          status: pending
                          php_version: '8.3'
                          platform_domain: wispy-dust--prod.vectorpages.com
                          custom_domain: example.com
                          custom_domain_certificate_status: pending
                          created_at: '2025-01-15T12:00:00+00:00'
                          updated_at: '2025-01-15T12:00:00+00:00'
                        -
                          id: 01jfgxk4nqrst5vwx9yz0abcdh
                          name: staging
                          is_production: false
                          status: pending
                          php_version: '8.3'
                          platform_domain: wispy-dust--staging.vectorpages.com
                          custom_domain: null
                          custom_domain_certificate_status: null
                          created_at: '2025-01-15T12:00:00+00:00'
                          updated_at: '2025-01-15T12:00:00+00:00'
                      created_at: '2025-01-15T12:00:00+00:00'
                      updated_at: '2025-01-15T12:00:00+00:00'
                    message: 'Vector site creation initiated'
                    http_status: 201
        401:
          description: Unauthenticated
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    properties: {  }
                  message:
                    type: string
                    examples:
                      - Unauthenticated
                  http_status:
                    type: integer
                    examples:
                      - 401
                examples:
                  -
                    data: {  }
                    message: Unauthenticated
                    http_status: 401
        403:
          description: Unauthorized
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    properties: {  }
                  message:
                    type: string
                    examples:
                      - Unauthorized
                  http_status:
                    type: integer
                    examples:
                      - 403
                examples:
                  -
                    data: {  }
                    message: Unauthorized
                    http_status: 403
        422:
          description: ''
          content:
            application/json:
              schema:
                oneOf:
                  -
                    description: 'Validation Error'
                    type: object
                    properties:
                      data:
                        type: object
                        properties: {  }
                      errors:
                        type: object
                        properties:
                          your_customer_id:
                            type: array
                            items:
                              type: string
                            examples:
                              -
                                - 'The partner customer id field is required.'
                      message:
                        type: string
                        examples:
                          - 'Validation failed'
                      http_status:
                        type: integer
                        examples:
                          - 422
                    examples:
                      -
                        data: {  }
                        errors:
                          your_customer_id:
                            - 'The partner customer id field is required.'
                        message: 'Validation failed'
                        http_status: 422
                  -
                    description: 'No Cluster Available'
                    type: object
                    properties:
                      data:
                        type: object
                        properties: {  }
                      errors:
                        type: object
                        properties:
                          cluster:
                            type: array
                            items:
                              type: string
                            examples:
                              -
                                - 'No Vector cluster is configured for your account.'
                      message:
                        type: string
                        examples:
                          - 'No Vector cluster available for this account'
                      http_status:
                        type: integer
                        examples:
                          - 422
                    examples:
                      -
                        data: {  }
                        errors:
                          cluster:
                            - 'No Vector cluster is configured for your account.'
                        message: 'No Vector cluster available for this account'
                        http_status: 422
      tags:
        - Sites
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                your_customer_id:
                  type: string
                  description: 'Your internal customer identifier. Used to correlate sites with your billing or CRM system.'
                  examples:
                    - cust_12345
                dev_php_version:
                  type: string
                  description: 'The PHP version for the development container. Must be one of: 7.2, 7.3, 7.4, 8.0, 8.1, 8.2, 8.3, 8.4, 8.5.'
                  examples:
                    - '8.3'
                tags:
                  type: array
                  description: 'Optional array of tags for categorizing the site. Each tag must be slug format (lowercase letters, numbers, hyphens), max 100 characters, and unique.'
                  items:
                    type: string
                  examples:
                    -
                      - wordpress
                      - production
                production_domain:
                  type:
                    - string
                    - 'null'
                  description: 'Optional custom domain for the production environment. Must be a valid fully qualified domain name, max 253 chars. When provided, SSL certificate provisioning begins automatically. The domain owner must create DNS records to complete provisioning — see the `custom_domain_certificate` and `dns_target` fields on the environment for details.'
                  examples:
                    - example.com
                staging_domain:
                  type:
                    - string
                    - 'null'
                  description: 'Optional custom domain for the staging environment. Must be a valid fully qualified domain name, max 253 chars. When provided, SSL certificate provisioning begins automatically. The domain owner must create DNS records to complete provisioning — see the `custom_domain_certificate` and `dns_target` fields on the environment for details.'
                  examples:
                    - staging.example.com
                wp_admin_email:
                  type:
                    - string
                    - 'null'
                  description: 'Optional email address for WordPress auto-install. When provided, WordPress will be automatically installed in the dev container on first boot. The `wp_admin` block containing the generated password is only returned in this creation response.'
                  examples:
                    - admin@example.com
                wp_admin_user:
                  type:
                    - string
                    - 'null'
                  description: 'Optional WordPress admin username. Only used when `wp_admin_email` is provided. Defaults to "admin". Max 60 characters.'
                  examples:
                    - myadmin
                wp_site_title:
                  type:
                    - string
                    - 'null'
                  description: 'Optional WordPress site title. Only used when `wp_admin_email` is provided. Defaults to "WordPress" in the container. Max 255 characters.'
                  examples:
                    - 'My Blog'
              required:
                - your_customer_id
                - dev_php_version
  '/api/v1/vector/sites/{site}':
    get:
      summary: 'Get Site'
      operationId: getSite
      description: 'Retrieves details of a specific site including its environments and domains.'
      parameters: []
      responses:
        200:
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    properties:
                      id:
                        type: string
                        examples:
                          - 01jfgxk4nqrst5vwx9yz0abcde
                      your_customer_id:
                        type: string
                        examples:
                          - cust_12345
                      status:
                        type: string
                        examples:
                          - active
                      tags:
                        type: array
                        items:
                          type: string
                        examples:
                          -
                            - wordpress
                            - production
                      dev_domain:
                        type: string
                        examples:
                          - dev.wispy-dust.vectorpages.com
                      dev_db_host:
                        type: string
                        examples:
                          - dev-cluster.abc123.us-east-1.rds.amazonaws.com
                      dev_db_name:
                        type: string
                        examples:
                          - db_01jfgxk4nqrst5vwx9yz0abcde
                      environments:
                        type: array
                        items:
                          type: object
                          properties:
                            id:
                              type: string
                              examples:
                                - 01jfgxk4nqrst5vwx9yz0abcdg
                            name:
                              type: string
                              examples:
                                - production
                            is_production:
                              type: boolean
                              examples:
                                - true
                            status:
                              type: string
                              examples:
                                - active
                            php_version:
                              type: string
                              examples:
                                - '8.3'
                            platform_domain:
                              type: string
                              examples:
                                - wispy-dust--prod.vectorpages.com
                            custom_domain:
                              type: string
                              examples:
                                - example.com
                            custom_domain_certificate_status:
                              type: string
                              examples:
                                - issued
                            created_at:
                              type: string
                              examples:
                                - '2025-01-15T12:00:00+00:00'
                            updated_at:
                              type: string
                              examples:
                                - '2025-01-15T12:00:00+00:00'
                        examples:
                          -
                            -
                              id: 01jfgxk4nqrst5vwx9yz0abcdg
                              name: production
                              is_production: true
                              status: active
                              php_version: '8.3'
                              platform_domain: wispy-dust--prod.vectorpages.com
                              custom_domain: example.com
                              custom_domain_certificate_status: issued
                              created_at: '2025-01-15T12:00:00+00:00'
                              updated_at: '2025-01-15T12:00:00+00:00'
                      created_at:
                        type: string
                        examples:
                          - '2025-01-15T12:00:00+00:00'
                      updated_at:
                        type: string
                        examples:
                          - '2025-01-15T12:00:00+00:00'
                  message:
                    type: string
                    examples:
                      - 'Site retrieved successfully'
                  http_status:
                    type: integer
                    examples:
                      - 200
                examples:
                  -
                    data:
                      id: 01jfgxk4nqrst5vwx9yz0abcde
                      your_customer_id: cust_12345
                      status: active
                      tags:
                        - wordpress
                        - production
                      dev_domain: dev.wispy-dust.vectorpages.com
                      dev_db_host: dev-cluster.abc123.us-east-1.rds.amazonaws.com
                      dev_db_name: db_01jfgxk4nqrst5vwx9yz0abcde
                      environments:
                        -
                          id: 01jfgxk4nqrst5vwx9yz0abcdg
                          name: production
                          is_production: true
                          status: active
                          php_version: '8.3'
                          platform_domain: wispy-dust--prod.vectorpages.com
                          custom_domain: example.com
                          custom_domain_certificate_status: issued
                          created_at: '2025-01-15T12:00:00+00:00'
                          updated_at: '2025-01-15T12:00:00+00:00'
                      created_at: '2025-01-15T12:00:00+00:00'
                      updated_at: '2025-01-15T12:00:00+00:00'
                    message: 'Site retrieved successfully'
                    http_status: 200
        401:
          description: Unauthenticated
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    properties: {  }
                  message:
                    type: string
                    examples:
                      - Unauthenticated
                  http_status:
                    type: integer
                    examples:
                      - 401
                examples:
                  -
                    data: {  }
                    message: Unauthenticated
                    http_status: 401
        403:
          description: Unauthorized
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    properties: {  }
                  message:
                    type: string
                    examples:
                      - Unauthorized
                  http_status:
                    type: integer
                    examples:
                      - 403
                examples:
                  -
                    data: {  }
                    message: Unauthorized
                    http_status: 403
        404:
          description: 'Not Found'
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    properties: {  }
                  message:
                    type: string
                    examples:
                      - 'Site not found'
                  http_status:
                    type: integer
                    examples:
                      - 404
                examples:
                  -
                    data: {  }
                    message: 'Site not found'
                    http_status: 404
      tags:
        - Sites
    put:
      summary: 'Update Site'
      operationId: updateSite
      description: "Updates an existing site's metadata. Only the fields provided will be updated."
      parameters: []
      responses:
        200:
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    properties:
                      id:
                        type: string
                        examples:
                          - 01jfgxk4nqrst5vwx9yz0abcde
                      your_customer_id:
                        type: string
                        examples:
                          - cust_67890
                      status:
                        type: string
                        examples:
                          - active
                      tags:
                        type: array
                        items:
                          type: string
                        examples:
                          -
                            - wordpress
                            - staging
                      dev_domain:
                        type: string
                        examples:
                          - dev.wispy-dust.vectorpages.com
                      dev_db_host:
                        type: string
                        examples:
                          - dev-cluster.abc123.us-east-1.rds.amazonaws.com
                      dev_db_name:
                        type: string
                        examples:
                          - db_01jfgxk4nqrst5vwx9yz0abcde
                      environments:
                        type: array
                        examples:
                          - []
                      created_at:
                        type: string
                        examples:
                          - '2025-01-15T12:00:00+00:00'
                      updated_at:
                        type: string
                        examples:
                          - '2025-01-15T12:00:00+00:00'
                  message:
                    type: string
                    examples:
                      - 'Vector site updated successfully'
                  http_status:
                    type: integer
                    examples:
                      - 200
                examples:
                  -
                    data:
                      id: 01jfgxk4nqrst5vwx9yz0abcde
                      your_customer_id: cust_67890
                      status: active
                      tags:
                        - wordpress
                        - staging
                      dev_domain: dev.wispy-dust.vectorpages.com
                      dev_db_host: dev-cluster.abc123.us-east-1.rds.amazonaws.com
                      dev_db_name: db_01jfgxk4nqrst5vwx9yz0abcde
                      environments: []
                      created_at: '2025-01-15T12:00:00+00:00'
                      updated_at: '2025-01-15T12:00:00+00:00'
                    message: 'Vector site updated successfully'
                    http_status: 200
        401:
          description: Unauthenticated
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    properties: {  }
                  message:
                    type: string
                    examples:
                      - Unauthenticated
                  http_status:
                    type: integer
                    examples:
                      - 401
                examples:
                  -
                    data: {  }
                    message: Unauthenticated
                    http_status: 401
        403:
          description: Unauthorized
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    properties: {  }
                  message:
                    type: string
                    examples:
                      - Unauthorized
                  http_status:
                    type: integer
                    examples:
                      - 403
                examples:
                  -
                    data: {  }
                    message: Unauthorized
                    http_status: 403
        404:
          description: 'Not Found'
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    properties: {  }
                  message:
                    type: string
                    examples:
                      - 'Site not found'
                  http_status:
                    type: integer
                    examples:
                      - 404
                examples:
                  -
                    data: {  }
                    message: 'Site not found'
                    http_status: 404
        422:
          description: 'Validation Error'
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    properties: {  }
                  errors:
                    type: object
                    properties:
                      tags:
                        type: array
                        items:
                          type: string
                        examples:
                          -
                            - 'Tags must be an array of strings.'
                  message:
                    type: string
                    examples:
                      - 'Validation failed'
                  http_status:
                    type: integer
                    examples:
                      - 422
                examples:
                  -
                    data: {  }
                    errors:
                      tags:
                        - 'Tags must be an array of strings.'
                    message: 'Validation failed'
                    http_status: 422
      tags:
        - Sites
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                your_customer_id:
                  type: string
                  description: 'Your internal customer identifier.'
                  examples:
                    - cust_67890
                tags:
                  type: array
                  description: 'Array of tags for categorizing the site. Each tag must be slug format (lowercase letters, numbers, hyphens), max 100 characters, and unique. Pass `null` to clear tags.'
                  items:
                    type: string
                  examples:
                    -
                      - wordpress
                      - staging
    delete:
      summary: 'Delete Site'
      operationId: deleteSite
      description: "Initiates deletion of a site. This terminates the site's development container\nand CDN resources. The site status transitions to `terminating` and eventually\n`terminated`.\n\n**Important:** By default, all environments must be terminated before the site\ncan be deleted — use the environment delete endpoint to terminate each\nenvironment first, or pass `delete_environments: true` to have any remaining\ndeployed environments terminated inline as part of the site deletion job.\n\nThis operation is irreversible. All site data and configurations will be\npermanently removed."
      parameters: []
      responses:
        202:
          description: Accepted
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    properties:
                      id:
                        type: string
                        examples:
                          - 01jfgxk4nqrst5vwx9yz0abcde
                      your_customer_id:
                        type: string
                        examples:
                          - cust_12345
                      status:
                        type: string
                        examples:
                          - terminating
                      tags:
                        type: array
                        examples:
                          - []
                      dev_domain:
                        type: string
                        examples:
                          - dev.wispy-dust.vectorpages.com
                      dev_db_host:
                        type: string
                        examples:
                          - dev-cluster.abc123.us-east-1.rds.amazonaws.com
                      dev_db_name:
                        type: string
                        examples:
                          - db_01jfgxk4nqrst5vwx9yz0abcde
                      environments:
                        type: array
                        examples:
                          - []
                      created_at:
                        type: string
                        examples:
                          - '2025-01-15T12:00:00+00:00'
                      updated_at:
                        type: string
                        examples:
                          - '2025-01-15T12:00:00+00:00'
                  message:
                    type: string
                    examples:
                      - 'Vector site deletion initiated'
                  http_status:
                    type: integer
                    examples:
                      - 202
                examples:
                  -
                    data:
                      id: 01jfgxk4nqrst5vwx9yz0abcde
                      your_customer_id: cust_12345
                      status: terminating
                      tags: []
                      dev_domain: dev.wispy-dust.vectorpages.com
                      dev_db_host: dev-cluster.abc123.us-east-1.rds.amazonaws.com
                      dev_db_name: db_01jfgxk4nqrst5vwx9yz0abcde
                      environments: []
                      created_at: '2025-01-15T12:00:00+00:00'
                      updated_at: '2025-01-15T12:00:00+00:00'
                    message: 'Vector site deletion initiated'
                    http_status: 202
        401:
          description: Unauthenticated
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    properties: {  }
                  message:
                    type: string
                    examples:
                      - Unauthenticated
                  http_status:
                    type: integer
                    examples:
                      - 401
                examples:
                  -
                    data: {  }
                    message: Unauthenticated
                    http_status: 401
        403:
          description: Unauthorized
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    properties: {  }
                  message:
                    type: string
                    examples:
                      - Unauthorized
                  http_status:
                    type: integer
                    examples:
                      - 403
                examples:
                  -
                    data: {  }
                    message: Unauthorized
                    http_status: 403
        404:
          description: 'Not Found'
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    properties: {  }
                  message:
                    type: string
                    examples:
                      - 'Site not found'
                  http_status:
                    type: integer
                    examples:
                      - 404
                examples:
                  -
                    data: {  }
                    message: 'Site not found'
                    http_status: 404
        422:
          description: 'Active Environments'
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    properties: {  }
                  errors:
                    type: object
                    properties:
                      site:
                        type: array
                        items:
                          type: string
                        examples:
                          -
                            - 'Cannot delete site with deployed environments. Please terminate all deployed environments first, or pass delete_environments=true to terminate them as part of the site deletion.'
                  message:
                    type: string
                    examples:
                      - 'Cannot delete site with deployed environments. Please terminate all deployed environments first, or pass delete_environments=true to terminate them as part of the site deletion.'
                  http_status:
                    type: integer
                    examples:
                      - 422
                examples:
                  -
                    data: {  }
                    errors:
                      site:
                        - 'Cannot delete site with deployed environments. Please terminate all deployed environments first, or pass delete_environments=true to terminate them as part of the site deletion.'
                    message: 'Cannot delete site with deployed environments. Please terminate all deployed environments first, or pass delete_environments=true to terminate them as part of the site deletion.'
                    http_status: 422
      tags:
        - Sites
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                delete_environments:
                  type: boolean
                  description: 'Optional. When true, any remaining deployed environments are terminated as part of the site deletion job (each environment is terminated in sequence before the dev container and Ymir project are removed). When omitted or false, the request is rejected with 422 if deployed environments still exist.'
                  examples:
                    - true
    parameters:
      -
        in: path
        name: site
        description: 'The site ID.'
        required: true
        schema:
          type: string
          examples:
            - 01jfgxk4nqrst5vwx9yz0abcde
  '/api/v1/vector/sites/{site}/deployments':
    get:
      summary: 'List Site Deployments'
      operationId: "sitesDeployments\n\nListdeploymentsacrossallenvironmentsofasite.ListSiteDeployments"
      description: "Retrieves a paginated list of deployments across all non-terminated\nenvironments belonging to the given site, ordered by most recent first.\n\nOptionally filter by environment name to narrow results to a single\nenvironment (e.g. `production` or `staging`).\n\nDeployments attached to terminated environments are always excluded,\neven when an explicit `environment` filter matches one."
      parameters:
        -
          in: query
          name: environment
          description: 'Filter deployments to a specific environment by name.'
          required: false
          schema:
            type: string
            description: 'Filter deployments to a specific environment by name.'
            examples:
              - production
        -
          in: query
          name: per_page
          description: 'Number of items per page (max 100). Default: 15.'
          required: false
          schema:
            type: integer
            description: 'Number of items per page (max 100). Default: 15.'
            examples:
              - 25
        -
          in: query
          name: page
          description: 'Page number for pagination. Default: 1.'
          required: false
          schema:
            type: integer
            description: 'Page number for pagination. Default: 1.'
            examples:
              - 1
      responses:
        200:
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          type: string
                          examples:
                            - 01jfgxk4nqrst5vwx9yz0abcdh
                        vector_environment_id:
                          type: string
                          examples:
                            - 01jfgxk4nqrst5vwx9yz0abcdg
                        is_auto_deploy:
                          type: boolean
                          examples:
                            - false
                        status:
                          type: string
                          examples:
                            - deployed
                        stdout:
                          type: string
                          examples:
                            - 'Deployment output...'
                        stderr:
                          type:
                            - string
                            - 'null'
                          examples:
                            - null
                        build_output:
                          type:
                            - string
                            - 'null'
                          examples:
                            - null
                        actor:
                          type: string
                          examples:
                            - user@example.com
                        environment:
                          type: object
                          properties:
                            id:
                              type: string
                              examples:
                                - 01jfgxk4nqrst5vwx9yz0abcdg
                            vector_site_id:
                              type: string
                              examples:
                                - 01jfgxk4nqrst5vwx9yz0abcde
                            your_customer_id:
                              type: string
                              examples:
                                - cust_12345
                            name:
                              type: string
                              examples:
                                - production
                            is_production:
                              type: boolean
                              examples:
                                - true
                            status:
                              type: string
                              examples:
                                - active
                            php_version:
                              type: string
                              examples:
                                - '8.3'
                            tags:
                              type: array
                              items:
                                type: string
                              examples:
                                -
                                  - wordpress
                            fqdn:
                              type: string
                              examples:
                                - example.com
                            custom_domain:
                              type: string
                              examples:
                                - example.com
                            subdomain:
                              type: string
                              examples:
                                - wispy-dust
                            created_at:
                              type: string
                              examples:
                                - '2025-01-15T12:00:00+00:00'
                            updated_at:
                              type: string
                              examples:
                                - '2025-01-15T12:00:00+00:00'
                        created_at:
                          type: string
                          examples:
                            - '2025-01-15T12:00:00+00:00'
                        updated_at:
                          type: string
                          examples:
                            - '2025-01-15T12:00:00+00:00'
                    examples:
                      -
                        -
                          id: 01jfgxk4nqrst5vwx9yz0abcdh
                          vector_environment_id: 01jfgxk4nqrst5vwx9yz0abcdg
                          is_auto_deploy: false
                          status: deployed
                          stdout: 'Deployment output...'
                          stderr: null
                          build_output: null
                          actor: user@example.com
                          environment:
                            id: 01jfgxk4nqrst5vwx9yz0abcdg
                            vector_site_id: 01jfgxk4nqrst5vwx9yz0abcde
                            your_customer_id: cust_12345
                            name: production
                            is_production: true
                            status: active
                            php_version: '8.3'
                            tags:
                              - wordpress
                            fqdn: example.com
                            custom_domain: example.com
                            subdomain: wispy-dust
                            created_at: '2025-01-15T12:00:00+00:00'
                            updated_at: '2025-01-15T12:00:00+00:00'
                          created_at: '2025-01-15T12:00:00+00:00'
                          updated_at: '2025-01-15T12:00:00+00:00'
                  links:
                    type: object
                    properties: {  }
                  meta:
                    type: object
                    properties: {  }
                  message:
                    type: string
                    examples:
                      - 'Deployments retrieved successfully'
                  http_status:
                    type: integer
                    examples:
                      - 200
                examples:
                  -
                    data:
                      -
                        id: 01jfgxk4nqrst5vwx9yz0abcdh
                        vector_environment_id: 01jfgxk4nqrst5vwx9yz0abcdg
                        is_auto_deploy: false
                        status: deployed
                        stdout: 'Deployment output...'
                        stderr: null
                        build_output: null
                        actor: user@example.com
                        environment:
                          id: 01jfgxk4nqrst5vwx9yz0abcdg
                          vector_site_id: 01jfgxk4nqrst5vwx9yz0abcde
                          your_customer_id: cust_12345
                          name: production
                          is_production: true
                          status: active
                          php_version: '8.3'
                          tags:
                            - wordpress
                          fqdn: example.com
                          custom_domain: example.com
                          subdomain: wispy-dust
                          created_at: '2025-01-15T12:00:00+00:00'
                          updated_at: '2025-01-15T12:00:00+00:00'
                        created_at: '2025-01-15T12:00:00+00:00'
                        updated_at: '2025-01-15T12:00:00+00:00'
                    links: {  }
                    meta: {  }
                    message: 'Deployments retrieved successfully'
                    http_status: 200
        401:
          description: Unauthenticated
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    properties: {  }
                  message:
                    type: string
                    examples:
                      - Unauthenticated
                  http_status:
                    type: integer
                    examples:
                      - 401
                examples:
                  -
                    data: {  }
                    message: Unauthenticated
                    http_status: 401
        403:
          description: Unauthorized
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    properties: {  }
                  message:
                    type: string
                    examples:
                      - Unauthorized
                  http_status:
                    type: integer
                    examples:
                      - 403
                examples:
                  -
                    data: {  }
                    message: Unauthorized
                    http_status: 403
        404:
          description: 'Site Not Found'
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    properties: {  }
                  message:
                    type: string
                    examples:
                      - 'Site not found'
                  http_status:
                    type: integer
                    examples:
                      - 404
                examples:
                  -
                    data: {  }
                    message: 'Site not found'
                    http_status: 404
        422:
          description: 'Validation Error'
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    properties: {  }
                  errors:
                    type: object
                    properties:
                      per_page:
                        type: array
                        items:
                          type: string
                        examples:
                          -
                            - 'Maximum items per page is 100.'
                  message:
                    type: string
                    examples:
                      - 'Validation failed'
                  http_status:
                    type: integer
                    examples:
                      - 422
                examples:
                  -
                    data: {  }
                    errors:
                      per_page:
                        - 'Maximum items per page is 100.'
                    message: 'Validation failed'
                    http_status: 422
      tags:
        - Sites
    parameters:
      -
        in: path
        name: site
        description: 'The site.'
        required: true
        schema:
          type: string
          examples:
            - architecto
      -
        in: path
        name: vectorSite
        description: 'The site ID or subdomain.'
        required: true
        schema:
          type: string
          examples:
            - 01jfgxk4nqrst5vwx9yz0abcde
  '/api/v1/vector/sites/{site}/suspend':
    put:
      summary: 'Suspend Site'
      operationId: suspendSite
      description: "Suspends a site's development container by scaling the ECS service to zero.\nThis reduces costs during low-traffic periods while preserving container\nresources for quick resumption.\n\nThe site must be in `active` status to be suspended. Suspended sites can be\nresumed using the unsuspend endpoint."
      parameters: []
      responses:
        200:
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    properties:
                      id:
                        type: string
                        examples:
                          - 01jfgxk4nqrst5vwx9yz0abcde
                      your_customer_id:
                        type: string
                        examples:
                          - cust_12345
                      status:
                        type: string
                        examples:
                          - suspended
                      tags:
                        type: array
                        examples:
                          - []
                      dev_domain:
                        type: string
                        examples:
                          - dev.wispy-dust.vectorpages.com
                      environments:
                        type: array
                        examples:
                          - []
                      created_at:
                        type: string
                        examples:
                          - '2025-01-15T12:00:00+00:00'
                      updated_at:
                        type: string
                        examples:
                          - '2025-01-15T12:00:00+00:00'
                  message:
                    type: string
                    examples:
                      - 'Vector site suspension initiated'
                  http_status:
                    type: integer
                    examples:
                      - 200
                examples:
                  -
                    data:
                      id: 01jfgxk4nqrst5vwx9yz0abcde
                      your_customer_id: cust_12345
                      status: suspended
                      tags: []
                      dev_domain: dev.wispy-dust.vectorpages.com
                      environments: []
                      created_at: '2025-01-15T12:00:00+00:00'
                      updated_at: '2025-01-15T12:00:00+00:00'
                    message: 'Vector site suspension initiated'
                    http_status: 200
        401:
          description: Unauthenticated
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    properties: {  }
                  message:
                    type: string
                    examples:
                      - Unauthenticated
                  http_status:
                    type: integer
                    examples:
                      - 401
                examples:
                  -
                    data: {  }
                    message: Unauthenticated
                    http_status: 401
        403:
          description: Unauthorized
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    properties: {  }
                  message:
                    type: string
                    examples:
                      - Unauthorized
                  http_status:
                    type: integer
                    examples:
                      - 403
                examples:
                  -
                    data: {  }
                    message: Unauthorized
                    http_status: 403
        404:
          description: 'Not Found'
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    properties: {  }
                  message:
                    type: string
                    examples:
                      - 'Site not found'
                  http_status:
                    type: integer
                    examples:
                      - 404
                examples:
                  -
                    data: {  }
                    message: 'Site not found'
                    http_status: 404
        422:
          description: 'Invalid State'
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    properties: {  }
                  errors:
                    type: object
                    properties:
                      status:
                        type: array
                        items:
                          type: string
                        examples:
                          -
                            - "Site cannot be suspended from current state 'pending'. Site must be 'active' to be suspended."
                  message:
                    type: string
                    examples:
                      - "Site cannot be suspended from current state 'pending'. Site must be 'active' to be suspended."
                  http_status:
                    type: integer
                    examples:
                      - 422
                examples:
                  -
                    data: {  }
                    errors:
                      status:
                        - "Site cannot be suspended from current state 'pending'. Site must be 'active' to be suspended."
                    message: "Site cannot be suspended from current state 'pending'. Site must be 'active' to be suspended."
                    http_status: 422
      tags:
        - Sites
    parameters:
      -
        in: path
        name: site
        description: 'The site ID.'
        required: true
        schema:
          type: string
          examples:
            - 01jfgxk4nqrst5vwx9yz0abcde
  '/api/v1/vector/sites/{site}/unsuspend':
    put:
      summary: 'Unsuspend Site'
      operationId: unsuspendSite
      description: "Resumes a previously suspended site's development container by scaling the\nECS service back to one. The site must be in `suspended` status to be unsuspended.\n\nAfter unsuspension, the site transitions back to `active` status and resumes\nserving traffic."
      parameters: []
      responses:
        200:
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    properties:
                      id:
                        type: string
                        examples:
                          - 01jfgxk4nqrst5vwx9yz0abcde
                      your_customer_id:
                        type: string
                        examples:
                          - cust_12345
                      status:
                        type: string
                        examples:
                          - active
                      tags:
                        type: array
                        examples:
                          - []
                      dev_domain:
                        type: string
                        examples:
                          - dev.wispy-dust.vectorpages.com
                      environments:
                        type: array
                        examples:
                          - []
                      created_at:
                        type: string
                        examples:
                          - '2025-01-15T12:00:00+00:00'
                      updated_at:
                        type: string
                        examples:
                          - '2025-01-15T12:00:00+00:00'
                  message:
                    type: string
                    examples:
                      - 'Vector site unsuspension initiated'
                  http_status:
                    type: integer
                    examples:
                      - 200
                examples:
                  -
                    data:
                      id: 01jfgxk4nqrst5vwx9yz0abcde
                      your_customer_id: cust_12345
                      status: active
                      tags: []
                      dev_domain: dev.wispy-dust.vectorpages.com
                      environments: []
                      created_at: '2025-01-15T12:00:00+00:00'
                      updated_at: '2025-01-15T12:00:00+00:00'
                    message: 'Vector site unsuspension initiated'
                    http_status: 200
        401:
          description: Unauthenticated
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    properties: {  }
                  message:
                    type: string
                    examples:
                      - Unauthenticated
                  http_status:
                    type: integer
                    examples:
                      - 401
                examples:
                  -
                    data: {  }
                    message: Unauthenticated
                    http_status: 401
        403:
          description: Unauthorized
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    properties: {  }
                  message:
                    type: string
                    examples:
                      - Unauthorized
                  http_status:
                    type: integer
                    examples:
                      - 403
                examples:
                  -
                    data: {  }
                    message: Unauthorized
                    http_status: 403
        404:
          description: 'Not Found'
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    properties: {  }
                  message:
                    type: string
                    examples:
                      - 'Site not found'
                  http_status:
                    type: integer
                    examples:
                      - 404
                examples:
                  -
                    data: {  }
                    message: 'Site not found'
                    http_status: 404
        422:
          description: 'Invalid State'
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    properties: {  }
                  errors:
                    type: object
                    properties:
                      status:
                        type: array
                        items:
                          type: string
                        examples:
                          -
                            - "Site cannot be unsuspended from current state 'active'. Site must be 'suspended' to be unsuspended."
                  message:
                    type: string
                    examples:
                      - "Site cannot be unsuspended from current state 'active'. Site must be 'suspended' to be unsuspended."
                  http_status:
                    type: integer
                    examples:
                      - 422
                examples:
                  -
                    data: {  }
                    errors:
                      status:
                        - "Site cannot be unsuspended from current state 'active'. Site must be 'suspended' to be unsuspended."
                    message: "Site cannot be unsuspended from current state 'active'. Site must be 'suspended' to be unsuspended."
                    http_status: 422
      tags:
        - Sites
    parameters:
      -
        in: path
        name: site
        description: 'The site ID.'
        required: true
        schema:
          type: string
          examples:
            - 01jfgxk4nqrst5vwx9yz0abcde
  '/api/v1/vector/sites/{site}/clone':
    post:
      summary: 'Clone Site'
      operationId: cloneSite
      description: "Creates a new site by cloning an existing site's development container,\nincluding files and database. Only the development container is cloned;\nproduction and staging environments are not copied. The new site is created\nwith fresh, empty environments.\n\nThis workflow is useful for testing larger redesigns or refactors in\nisolation while still allowing maintenance of the original site. The cloned\nsite operates independently, so changes to one do not affect the other.\n\nThe new site inherits attributes from the source site unless overridden in\nthe request. The cloned site is created with a `pending` status and will\ntransition to `active` once the clone operation completes."
      parameters: []
      responses:
        201:
          description: Created
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    properties:
                      id:
                        type: string
                        examples:
                          - 01jfgxk4nqrst5vwx9yz0abcdf
                      your_customer_id:
                        type: string
                        examples:
                          - cust_12345
                      status:
                        type: string
                        examples:
                          - pending
                      tags:
                        type: array
                        items:
                          type: string
                        examples:
                          -
                            - wordpress
                            - clone
                      dev_domain:
                        type: string
                        examples:
                          - dev.wispy-dust.vectorpages.com
                      dev_db_username:
                        type: string
                        examples:
                          - db_01jfgxk4nqrst5vwx9yz0abcdf
                      dev_db_password:
                        type: string
                        examples:
                          - 'aBcD1234!@#$EfGh5678'
                      environments:
                        type: array
                        examples:
                          - []
                      created_at:
                        type: string
                        examples:
                          - '2025-01-15T12:00:00+00:00'
                      updated_at:
                        type: string
                        examples:
                          - '2025-01-15T12:00:00+00:00'
                  message:
                    type: string
                    examples:
                      - 'Vector site clone initiated'
                  http_status:
                    type: integer
                    examples:
                      - 201
                examples:
                  -
                    data:
                      id: 01jfgxk4nqrst5vwx9yz0abcdf
                      your_customer_id: cust_12345
                      status: pending
                      tags:
                        - wordpress
                        - clone
                      dev_domain: dev.wispy-dust.vectorpages.com
                      dev_db_username: db_01jfgxk4nqrst5vwx9yz0abcdf
                      dev_db_password: 'aBcD1234!@#$EfGh5678'
                      environments: []
                      created_at: '2025-01-15T12:00:00+00:00'
                      updated_at: '2025-01-15T12:00:00+00:00'
                    message: 'Vector site clone initiated'
                    http_status: 201
        401:
          description: Unauthenticated
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    properties: {  }
                  message:
                    type: string
                    examples:
                      - Unauthenticated
                  http_status:
                    type: integer
                    examples:
                      - 401
                examples:
                  -
                    data: {  }
                    message: Unauthenticated
                    http_status: 401
        403:
          description: Unauthorized
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    properties: {  }
                  message:
                    type: string
                    examples:
                      - Unauthorized
                  http_status:
                    type: integer
                    examples:
                      - 403
                examples:
                  -
                    data: {  }
                    message: Unauthorized
                    http_status: 403
        404:
          description: 'Not Found'
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    properties: {  }
                  message:
                    type: string
                    examples:
                      - 'Site not found'
                  http_status:
                    type: integer
                    examples:
                      - 404
                examples:
                  -
                    data: {  }
                    message: 'Site not found'
                    http_status: 404
        422:
          description: ''
          content:
            application/json:
              schema:
                oneOf:
                  -
                    description: 'Validation Error - Site Not Active'
                    type: object
                    properties:
                      data:
                        type: object
                        properties: {  }
                      errors:
                        type: object
                        properties:
                          site:
                            type: array
                            items:
                              type: string
                            examples:
                              -
                                - 'Source site must be in active state to clone.'
                      message:
                        type: string
                        examples:
                          - 'Validation failed'
                      http_status:
                        type: integer
                        examples:
                          - 422
[...]
