openapi: 3.1.0
info:
  title: 'Vector Pro'
  description: "A public API for interacting with Vector Pro by BuiltFast.\n\nFor more information, visit [builtfast.com/vector](https://builtfast.com/vector)."
  version: 1.0.0
  contact:
    name: 'BuiltFast Support'
    url: 'https://builtfast.com/support'
    email: support@builtfast.com
  termsOfService: 'https://builtfast.com/terms'
servers:
  -
    url: 'https://api.builtfast.com'
tags:
  -
    name: Sites
    description: "\nManage serverless WordPress sites deployed on Vector infrastructure. Sites are\nthe primary resource representing customer applications, each with associated\nenvironments (staging/production), deployments, and CDN configurations.\n\nSites are created with a `pending` status and transition to `active` once provisioning\ncompletes. You can suspend sites to reduce costs during low-traffic periods.\n\n#### Site Status Lifecycle\n\n- `pending` - Site creation initiated, provisioning in progress\n- `active` - Site is fully operational and serving traffic\n- `suspended` - Site is paused to reduce costs (can be unsuspended)\n- `terminating` - Site deletion in progress\n- `terminated` - Site has been fully removed"
  -
    name: Environments
    description: "\nManage deployment environments for sites. Each site can have multiple environments\nwith their own domains, PHP versions, and secrets. Environment names use a slug format\n(lowercase letters, numbers, and hyphens).\n\nEnvironments are created with a `pending` status and transition to `active` once\ncontainer provisioning completes. Each environment gets a unique subdomain under\nyour registered domain.\n\n#### Environment Status Lifecycle\n\n- `pending` - Environment creation initiated, provisioning in progress\n- `active` - Environment is fully operational\n- `suspended` - Environment is paused\n- `terminating` - Environment deletion in progress\n- `terminated` - Environment has been fully removed\n\n#### Production Environment\n\nEach site can have at most one production environment (`is_production: true`).\nThe production environment receives CDN integration via Bunny.net."
  -
    name: Account
    description: "\nManage your Vector Pro account settings including API keys, SSH keys, and global secrets."
  -
    name: Events
    description: "\nView event logs for Vector Pro resources. Events are logged automatically when\nactions occur (site creation, deployments, etc.) and are retained for 90 days.\n\nEvent logs provide an audit trail of all activity in your account.\n\n#### Actor Tracking\n\nEach event includes an `actor` object when the action was triggered via the API:\n- `ip` - The IP address of the request\n- `token_name` - The name of the API token used\n\nThe `actor` field is omitted for events triggered by system processes (scheduled tasks,\nqueue workers processing internal jobs, etc.) where no user context exists.\n\n#### Event Naming Convention\n\nEvents follow a consistent dot-notation pattern:\n- Simple actions: `{entity}.{action}` (e.g., `site.created`, `site.updated`)\n- Lifecycle operations: `{entity}.{operation}.{phase}` (e.g., `site.provisioning.started`)\n\n#### Available Event Types\n\n##### Site Events\n\n| Event | Description |\n|-------|-------------|\n| `site.created` | Site record has been created |\n| `site.updated` | Site settings have been modified |\n| `site.cloned` | Site has been cloned from another site |\n| `site.provisioning.started` | Container provisioning has started |\n| `site.provisioning.completed` | Site is fully provisioned and running |\n| `site.provisioning.failed` | Site provisioning failed |\n| `site.suspension.started` | Site suspension has started |\n| `site.suspension.completed` | Site has been suspended |\n| `site.unsuspension.started` | Site unsuspension has started |\n| `site.unsuspension.completed` | Site has been unsuspended |\n| `site.termination.started` | Site termination has started |\n| `site.termination.completed` | Site has been terminated |\n| `site.sftp.password.reset` | SFTP password has been reset |\n| `site.database.password.reset` | Database password has been reset |\n| `site.sshkey.added` | SSH key has been added to site |\n| `site.sshkey.removed` | SSH key has been removed from site |\n| `site.database.import.started` | Database import has started |\n| `site.database.import.completed` | Database import completed successfully |\n| `site.database.import.failed` | Database import failed |\n| `site.database.export.started` | Database export has started |\n| `site.database.export.completed` | Database export completed successfully |\n| `site.database.export.failed` | Database export failed |\n\n##### SSH Key Events\n\n| Event | Description |\n|-------|-------------|\n| `sshkey.created` | SSH key has been created |\n| `sshkey.deleted` | SSH key has been deleted |\n\n##### Environment Events\n\n| Event | Description |\n|-------|-------------|\n| `environment.created` | Production environment has been created |\n| `environment.updated` | Environment settings have been modified |\n| `environment.provisioning.started` | Environment provisioning has started |\n| `environment.provisioning.completed` | Environment is fully provisioned |\n| `environment.provisioning.failed` | Environment provisioning failed |\n| `environment.suspension.started` | Environment suspension has started |\n| `environment.suspension.completed` | Environment has been suspended |\n| `environment.unsuspension.started` | Environment unsuspension has started |\n| `environment.unsuspension.completed` | Environment has been unsuspended |\n| `environment.termination.started` | Environment termination has started |\n| `environment.termination.completed` | Environment has been terminated |\n| `environment.database.password.reset` | Database password has been reset |\n\n##### Deployment Events\n\n| Event | Description |\n|-------|-------------|\n| `deployment.started` | Deployment to production has started |\n| `deployment.completed` | Deployment completed successfully |\n| `deployment.failed` | Deployment failed |\n| `deployment.rollback.started` | Deployment rollback has started |\n| `deployment.rollback.completed` | Deployment rollback completed |\n| `deployment.rollback.failed` | Deployment rollback failed |\n\n##### CDN Events\n\n| Event | Description |\n|-------|-------------|\n| `cdn.setup.started` | CDN configuration has started |\n| `cdn.setup.completed` | CDN setup completed successfully |\n| `cdn.setup.failed` | CDN setup failed |\n\n##### DNS Events\n\n| Event | Description |\n|-------|-------------|\n| `dns.record.created` | DNS record has been created |\n| `dns.record.deleted` | DNS record has been deleted |\n\n##### WAF Events\n\n| Event | Description |\n|-------|-------------|\n| `waf.ratelimit.created` | Rate limit rule has been created |\n| `waf.ratelimit.updated` | Rate limit rule has been updated |\n| `waf.ratelimit.deleted` | Rate limit rule has been deleted |\n| `waf.blockedip.created` | IP block has been created |\n| `waf.blockedip.deleted` | IP block has been removed |\n| `waf.blockedreferrer.created` | Referrer block has been created |\n| `waf.blockedreferrer.deleted` | Referrer block has been removed |\n| `waf.allowedreferrer.created` | Allowed referrer has been added |\n| `waf.allowedreferrer.deleted` | Allowed referrer has been removed |\n\n##### Secret Events\n\n| Event | Description |\n|-------|-------------|\n| `secret.created` | Secret has been created |\n| `secret.updated` | Secret has been updated |\n| `secret.deleted` | Secret has been deleted |\n\n##### Domain Events\n\n| Event | Description |\n|-------|-------------|\n| `domain.created` | Domain has been registered |\n| `domain.deleted` | Domain has been deleted |\n\n##### API Key Events\n\n| Event | Description |\n|-------|-------------|\n| `apikey.created` | API key has been created |\n| `apikey.deleted` | API key has been deleted |\n\n##### Webhook Events\n\n| Event | Description |\n|-------|-------------|\n| `webhook.created` | Webhook endpoint has been registered |\n| `webhook.updated` | Webhook configuration has been modified |\n| `webhook.deleted` | Webhook endpoint has been removed |\n\n##### Cache Events\n\n| Event | Description |\n|-------|-------------|\n| `cache.purged` | Cache has been purged |"
  -
    name: 'PHP Versions'
    description: "\nGet available PHP versions for Vector environments."
  -
    name: Webhooks
    description: "\nManage webhooks that receive site event notifications. Webhooks are called when\nevents occur on your sites (deployments, status changes, etc.).\n\nSupports both HTTP webhooks and Slack webhooks for notifications.\n\n#### Webhook Signature Verification\n\nHTTP webhook payloads include an `X-Vector-Signature` header for verifying\nauthenticity. The header format is:\n\n```\nX-Vector-Signature: t=1234567890,v1=abc123...\n```\n\nTo verify a webhook:\n\n1. Parse the timestamp (`t`) and signature (`v1`) from the header\n2. Construct the signed message: `{timestamp}.{raw_request_body}`\n3. Compute HMAC-SHA256 using your webhook secret as the key\n4. Compare with the provided signature using constant-time comparison\n5. Validate timestamp is within tolerance (recommended: 5 minutes)\n\nExample verification (PHP):\n\n```php\n$header = $request->header('X-Vector-Signature');\npreg_match('/t=(\\d+),v1=([a-f0-9]+)/', $header, $matches);\n$timestamp = $matches[1];\n$signature = $matches[2];\n\n$message = $timestamp . '.' . $request->getContent();\n$expected = hash_hmac('sha256', $message, $webhookSecret);\n\nif (!hash_equals($expected, $signature)) {\n    throw new Exception('Invalid signature');\n}\n\nif (abs(time() - (int)$timestamp) > 300) {\n    throw new Exception('Timestamp too old');\n}\n```"
components:
  securitySchemes:
    default:
      type: http
      scheme: bearer
      description: 'You can retrieve your API key from your Vector dashboard.'
security:
  -
    default: []
paths:
  /api/v1/vector/sites:
    get:
      summary: 'List Sites'
      operationId: listSites
      description: "Retrieves a paginated list of all sites for the authenticated account.\nResults include each site's environments and their associated domains."
      parameters:
        -
          in: query
          name: per_page
          description: 'Number of items per page (max 100). Default: 15.'
          example: 25
          required: false
          schema:
            type: integer
            description: 'Number of items per page (max 100). Default: 15.'
            example: 25
        -
          in: query
          name: page
          description: 'Page number for pagination. Default: 1.'
          example: 1
          required: false
          schema:
            type: integer
            description: 'Page number for pagination. Default: 1.'
            example: 1
      responses:
        200:
          description: Success
          content:
            application/json:
              schema:
                type: object
                example:
                  data:
                    -
                      id: 01JFGXK4NQRST5VWX9YZ0ABCDE
                      your_customer_id: cust_12345
                      status: active
                      tags:
                        - wordpress
                        - production
                      dev_domain: site-abc123.dev.example.com
                      dev_db_host: dev-cluster.abc123.us-east-1.rds.amazonaws.com
                      dev_db_name: db_01jfgxk4nqrst5vwx9yz0abcde
                      environments:
                        -
                          id: 01JFGXK4NQRST5VWX9YZ0ABCDG
                          name: production
                          is_production: true
                          status: active
                          php_version: '8.3'
                          platform_domain: wispy-dust.vectorpages.com
                          custom_domain: ourshop.com
                          created_at: '2025-05-27T09:50:21+00:00'
                          updated_at: '2025-05-27T09:50:21+00:00'
                      created_at: '2025-05-27T09:50:21+00:00'
                      updated_at: '2025-05-27T09:50:21+00:00'
                  links: {  }
                  meta: {  }
                  message: 'Sites retrieved successfully'
                  http_status: 200
                properties:
                  data:
                    type: array
                    example:
                      -
                        id: 01JFGXK4NQRST5VWX9YZ0ABCDE
                        your_customer_id: cust_12345
                        status: active
                        tags:
                          - wordpress
                          - production
                        dev_domain: site-abc123.dev.example.com
                        dev_db_host: dev-cluster.abc123.us-east-1.rds.amazonaws.com
                        dev_db_name: db_01jfgxk4nqrst5vwx9yz0abcde
                        environments:
                          -
                            id: 01JFGXK4NQRST5VWX9YZ0ABCDG
                            name: production
                            is_production: true
                            status: active
                            php_version: '8.3'
                            platform_domain: wispy-dust.vectorpages.com
                            custom_domain: ourshop.com
                            created_at: '2025-05-27T09:50:21+00:00'
                            updated_at: '2025-05-27T09:50:21+00:00'
                        created_at: '2025-05-27T09:50:21+00:00'
                        updated_at: '2025-05-27T09:50:21+00:00'
                    items:
                      type: object
                      properties:
                        id:
                          type: string
                          example: 01JFGXK4NQRST5VWX9YZ0ABCDE
                        your_customer_id:
                          type: string
                          example: cust_12345
                        status:
                          type: string
                          example: active
                        tags:
                          type: array
                          example:
                            - wordpress
                            - production
                          items:
                            type: string
                        dev_domain:
                          type: string
                          example: site-abc123.dev.example.com
                        dev_db_host:
                          type: string
                          example: dev-cluster.abc123.us-east-1.rds.amazonaws.com
                        dev_db_name:
                          type: string
                          example: db_01jfgxk4nqrst5vwx9yz0abcde
                        environments:
                          type: array
                          example:
                            -
                              id: 01JFGXK4NQRST5VWX9YZ0ABCDG
                              name: production
                              is_production: true
                              status: active
                              php_version: '8.3'
                              platform_domain: wispy-dust.vectorpages.com
                              custom_domain: ourshop.com
                              created_at: '2025-05-27T09:50:21+00:00'
                              updated_at: '2025-05-27T09:50:21+00:00'
                          items:
                            type: object
                            properties:
                              id:
                                type: string
                                example: 01JFGXK4NQRST5VWX9YZ0ABCDG
                              name:
                                type: string
                                example: production
                              is_production:
                                type: boolean
                                example: true
                              status:
                                type: string
                                example: active
                              php_version:
                                type: string
                                example: '8.3'
                              platform_domain:
                                type: string
                                example: wispy-dust.vectorpages.com
                              custom_domain:
                                type: string
                                example: ourshop.com
                              created_at:
                                type: string
                                example: '2025-05-27T09:50:21+00:00'
                              updated_at:
                                type: string
                                example: '2025-05-27T09:50:21+00:00'
                        created_at:
                          type: string
                          example: '2025-05-27T09:50:21+00:00'
                        updated_at:
                          type: string
                          example: '2025-05-27T09:50:21+00:00'
                  links:
                    type: object
                    properties: {  }
                  meta:
                    type: object
                    properties: {  }
                  message:
                    type: string
                    example: 'Sites retrieved successfully'
                  http_status:
                    type: integer
                    example: 200
        401:
          description: Unauthenticated
          content:
            application/json:
              schema:
                type: object
                example:
                  data: {  }
                  message: Unauthenticated
                  http_status: 401
                properties:
                  data:
                    type: object
                    properties: {  }
                  message:
                    type: string
                    example: Unauthenticated
                  http_status:
                    type: integer
                    example: 401
        403:
          description: Unauthorized
          content:
            application/json:
              schema:
                type: object
                example:
                  data: {  }
                  message: Unauthorized
                  http_status: 403
                properties:
                  data:
                    type: object
                    properties: {  }
                  message:
                    type: string
                    example: Unauthorized
                  http_status:
                    type: integer
                    example: 403
      tags:
        - Sites
    post:
      summary: 'Create Site'
      operationId: createSite
      description: "Creates a new site for the authenticated account. The site is created with a\n`pending` status and will transition to `active` once provisioning completes.\n\nA development container is automatically provisioned for the site, accessible\nvia the `dev_domain` in the response."
      parameters: []
      responses:
        201:
          description: Created
          content:
            application/json:
              schema:
                type: object
                example:
                  data:
                    id: 01JFGXK4NQRST5VWX9YZ0ABCDE
                    your_customer_id: cust_12345
                    status: pending
                    dev_php_version: '8.3'
                    tags:
                      - wordpress
                      - production
                    dev_domain: my-site.vectorpages.com
                    dev_db_host: dev-cluster.abc123.us-east-1.rds.amazonaws.com
                    dev_db_name: db_01jfgxk4nqrst5vwx9yz0abcde
                    dev_sftp:
                      hostname: ssh.vectorpages.com
                      port: 22
                      username: my-site
                      password: 'aBcD1234!@#$EfGh5678'
                    dev_db_username: db_01jfgxk4nqrst5vwx9yz0abcde
                    dev_db_password: 'aBcD1234!@#$EfGh5678'
                    environments: []
                    created_at: '2025-05-27T09:50:21+00:00'
                    updated_at: '2025-05-27T09:50:21+00:00'
                  message: 'Vector site creation initiated'
                  http_status: 201
                properties:
                  data:
                    type: object
                    properties:
                      id:
                        type: string
                        example: 01JFGXK4NQRST5VWX9YZ0ABCDE
                      your_customer_id:
                        type: string
                        example: cust_12345
                      status:
                        type: string
                        example: pending
                      dev_php_version:
                        type: string
                        example: '8.3'
                      tags:
                        type: array
                        example:
                          - wordpress
                          - production
                        items:
                          type: string
                      dev_domain:
                        type: string
                        example: my-site.vectorpages.com
                      dev_db_host:
                        type: string
                        example: dev-cluster.abc123.us-east-1.rds.amazonaws.com
                      dev_db_name:
                        type: string
                        example: db_01jfgxk4nqrst5vwx9yz0abcde
                      dev_sftp:
                        type: object
                        properties:
                          hostname:
                            type: string
                            example: ssh.vectorpages.com
                          port:
                            type: integer
                            example: 22
                          username:
                            type: string
                            example: my-site
                          password:
                            type: string
                            example: 'aBcD1234!@#$EfGh5678'
                      dev_db_username:
                        type: string
                        example: db_01jfgxk4nqrst5vwx9yz0abcde
                      dev_db_password:
                        type: string
                        example: 'aBcD1234!@#$EfGh5678'
                      environments:
                        type: array
                        example: []
                      created_at:
                        type: string
                        example: '2025-05-27T09:50:21+00:00'
                      updated_at:
                        type: string
                        example: '2025-05-27T09:50:21+00:00'
                  message:
                    type: string
                    example: 'Vector site creation initiated'
                  http_status:
                    type: integer
                    example: 201
        401:
          description: Unauthenticated
          content:
            application/json:
              schema:
                type: object
                example:
                  data: {  }
                  message: Unauthenticated
                  http_status: 401
                properties:
                  data:
                    type: object
                    properties: {  }
                  message:
                    type: string
                    example: Unauthenticated
                  http_status:
                    type: integer
                    example: 401
        403:
          description: Unauthorized
          content:
            application/json:
              schema:
                type: object
                example:
                  data: {  }
                  message: Unauthorized
                  http_status: 403
                properties:
                  data:
                    type: object
                    properties: {  }
                  message:
                    type: string
                    example: Unauthorized
                  http_status:
                    type: integer
                    example: 403
        422:
          description: ''
          content:
            application/json:
              schema:
                oneOf:
                  -
                    description: 'Validation Error'
                    type: object
                    example:
                      data: {  }
                      errors:
                        your_customer_id:
                          - 'The partner customer id field is required.'
                      message: 'Validation failed'
                      http_status: 422
                    properties:
                      data:
                        type: object
                        properties: {  }
                      errors:
                        type: object
                        properties:
                          your_customer_id:
                            type: array
                            example:
                              - 'The partner customer id field is required.'
                            items:
                              type: string
                      message:
                        type: string
                        example: 'Validation failed'
                      http_status:
                        type: integer
                        example: 422
                  -
                    description: 'No Cluster Available'
                    type: object
                    example:
                      data: {  }
                      errors:
                        cluster:
                          - 'No Vector cluster is configured for your account.'
                      message: 'No Vector cluster available for this account'
                      http_status: 422
                    properties:
                      data:
                        type: object
                        properties: {  }
                      errors:
                        type: object
                        properties:
                          cluster:
                            type: array
                            example:
                              - 'No Vector cluster is configured for your account.'
                            items:
                              type: string
                      message:
                        type: string
                        example: 'No Vector cluster available for this account'
                      http_status:
                        type: integer
                        example: 422
      tags:
        - Sites
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                your_customer_id:
                  type: string
                  description: 'Your internal customer identifier. Used to correlate sites with your billing or CRM system.'
                  example: cust_12345
                dev_php_version:
                  type: string
                  description: 'The PHP version for the development container. Must be one of: 7.2, 7.3, 7.4, 8.0, 8.1, 8.2, 8.3, 8.4, 8.5.'
                  example: '8.3'
                tags:
                  type: array
                  description: 'Optional array of tags for categorizing the site. Each tag must be slug format (lowercase letters, numbers, hyphens), max 100 characters, and unique.'
                  example:
                    - wordpress
                    - production
                  items:
                    type: string
              required:
                - your_customer_id
                - dev_php_version
  '/api/v1/vector/sites/{site}':
    get:
      summary: 'Get Site'
      operationId: getSite
      description: 'Retrieves details of a specific site including its environments and domains.'
      parameters: []
      responses:
        200:
          description: Success
          content:
            application/json:
              schema:
                type: object
                example:
                  data:
                    id: 01JFGXK4NQRST5VWX9YZ0ABCDE
                    your_customer_id: cust_12345
                    status: active
                    tags:
                      - wordpress
                      - production
                    dev_domain: site-abc123.dev.example.com
                    dev_db_host: dev-cluster.abc123.us-east-1.rds.amazonaws.com
                    dev_db_name: db_01jfgxk4nqrst5vwx9yz0abcde
                    environments:
                      -
                        id: 01JFGXK4NQRST5VWX9YZ0ABCDG
                        name: production
                        is_production: true
                        status: active
                        php_version: '8.3'
                        platform_domain: wispy-dust.vectorpages.com
                        custom_domain: ourshop.com
                        created_at: '2025-05-27T09:50:21+00:00'
                        updated_at: '2025-05-27T09:50:21+00:00'
                    created_at: '2025-05-27T09:50:21+00:00'
                    updated_at: '2025-05-27T09:50:21+00:00'
                  message: 'Site retrieved successfully'
                  http_status: 200
                properties:
                  data:
                    type: object
                    properties:
                      id:
                        type: string
                        example: 01JFGXK4NQRST5VWX9YZ0ABCDE
                      your_customer_id:
                        type: string
                        example: cust_12345
                      status:
                        type: string
                        example: active
                      tags:
                        type: array
                        example:
                          - wordpress
                          - production
                        items:
                          type: string
                      dev_domain:
                        type: string
                        example: site-abc123.dev.example.com
                      dev_db_host:
                        type: string
                        example: dev-cluster.abc123.us-east-1.rds.amazonaws.com
                      dev_db_name:
                        type: string
                        example: db_01jfgxk4nqrst5vwx9yz0abcde
                      environments:
                        type: array
                        example:
                          -
                            id: 01JFGXK4NQRST5VWX9YZ0ABCDG
                            name: production
                            is_production: true
                            status: active
                            php_version: '8.3'
                            platform_domain: wispy-dust.vectorpages.com
                            custom_domain: ourshop.com
                            created_at: '2025-05-27T09:50:21+00:00'
                            updated_at: '2025-05-27T09:50:21+00:00'
                        items:
                          type: object
                          properties:
                            id:
                              type: string
                              example: 01JFGXK4NQRST5VWX9YZ0ABCDG
                            name:
                              type: string
                              example: production
                            is_production:
                              type: boolean
                              example: true
                            status:
                              type: string
                              example: active
                            php_version:
                              type: string
                              example: '8.3'
                            platform_domain:
                              type: string
                              example: wispy-dust.vectorpages.com
                            custom_domain:
                              type: string
                              example: ourshop.com
                            created_at:
                              type: string
                              example: '2025-05-27T09:50:21+00:00'
                            updated_at:
                              type: string
                              example: '2025-05-27T09:50:21+00:00'
                      created_at:
                        type: string
                        example: '2025-05-27T09:50:21+00:00'
                      updated_at:
                        type: string
                        example: '2025-05-27T09:50:21+00:00'
                  message:
                    type: string
                    example: 'Site retrieved successfully'
                  http_status:
                    type: integer
                    example: 200
        401:
          description: Unauthenticated
          content:
            application/json:
              schema:
                type: object
                example:
                  data: {  }
                  message: Unauthenticated
                  http_status: 401
                properties:
                  data:
                    type: object
                    properties: {  }
                  message:
                    type: string
                    example: Unauthenticated
                  http_status:
                    type: integer
                    example: 401
        403:
          description: Unauthorized
          content:
            application/json:
              schema:
                type: object
                example:
                  data: {  }
                  message: Unauthorized
                  http_status: 403
                properties:
                  data:
                    type: object
                    properties: {  }
                  message:
                    type: string
                    example: Unauthorized
                  http_status:
                    type: integer
                    example: 403
        404:
          description: 'Not Found'
          content:
            application/json:
              schema:
                type: object
                example:
                  data: {  }
                  message: 'Site not found'
                  http_status: 404
                properties:
                  data:
                    type: object
                    properties: {  }
                  message:
                    type: string
                    example: 'Site not found'
                  http_status:
                    type: integer
                    example: 404
      tags:
        - Sites
    put:
      summary: 'Update Site'
      operationId: updateSite
      description: "Updates an existing site's metadata. Only the fields provided will be updated."
      parameters: []
      responses:
        200:
          description: Success
          content:
            application/json:
              schema:
                type: object
                example:
                  data:
                    id: 01JFGXK4NQRST5VWX9YZ0ABCDE
                    your_customer_id: cust_67890
                    status: active
                    tags:
                      - wordpress
                      - staging
                    dev_domain: site-abc123.dev.example.com
                    dev_db_host: dev-cluster.abc123.us-east-1.rds.amazonaws.com
                    dev_db_name: db_01jfgxk4nqrst5vwx9yz0abcde
                    environments: []
                    created_at: '2025-05-27T09:50:21+00:00'
                    updated_at: '2025-05-27T10:30:45+00:00'
                  message: 'Vector site updated successfully'
                  http_status: 200
                properties:
                  data:
                    type: object
                    properties:
                      id:
                        type: string
                        example: 01JFGXK4NQRST5VWX9YZ0ABCDE
                      your_customer_id:
                        type: string
                        example: cust_67890
                      status:
                        type: string
                        example: active
                      tags:
                        type: array
                        example:
                          - wordpress
                          - staging
                        items:
                          type: string
                      dev_domain:
                        type: string
                        example: site-abc123.dev.example.com
                      dev_db_host:
                        type: string
                        example: dev-cluster.abc123.us-east-1.rds.amazonaws.com
                      dev_db_name:
                        type: string
                        example: db_01jfgxk4nqrst5vwx9yz0abcde
                      environments:
                        type: array
                        example: []
                      created_at:
                        type: string
                        example: '2025-05-27T09:50:21+00:00'
                      updated_at:
                        type: string
                        example: '2025-05-27T10:30:45+00:00'
                  message:
                    type: string
                    example: 'Vector site updated successfully'
                  http_status:
                    type: integer
                    example: 200
        401:
          description: Unauthenticated
          content:
            application/json:
              schema:
                type: object
                example:
                  data: {  }
                  message: Unauthenticated
                  http_status: 401
                properties:
                  data:
                    type: object
                    properties: {  }
                  message:
                    type: string
                    example: Unauthenticated
                  http_status:
                    type: integer
                    example: 401
        403:
          description: Unauthorized
          content:
            application/json:
              schema:
                type: object
                example:
                  data: {  }
                  message: Unauthorized
                  http_status: 403
                properties:
                  data:
                    type: object
                    properties: {  }
                  message:
                    type: string
                    example: Unauthorized
                  http_status:
                    type: integer
                    example: 403
        404:
          description: 'Not Found'
          content:
            application/json:
              schema:
                type: object
                example:
                  data: {  }
                  message: 'Site not found'
                  http_status: 404
                properties:
                  data:
                    type: object
                    properties: {  }
                  message:
                    type: string
                    example: 'Site not found'
                  http_status:
                    type: integer
                    example: 404
        422:
          description: 'Validation Error'
          content:
            application/json:
              schema:
                type: object
                example:
                  data: {  }
                  errors:
                    tags:
                      - 'Tags must be an array of strings.'
                  message: 'Validation failed'
                  http_status: 422
                properties:
                  data:
                    type: object
                    properties: {  }
                  errors:
                    type: object
                    properties:
                      tags:
                        type: array
                        example:
                          - 'Tags must be an array of strings.'
                        items:
                          type: string
                  message:
                    type: string
                    example: 'Validation failed'
                  http_status:
                    type: integer
                    example: 422
      tags:
        - Sites
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                your_customer_id:
                  type: string
                  description: 'Your internal customer identifier.'
                  example: cust_67890
                tags:
                  type: array
                  description: 'Array of tags for categorizing the site. Each tag must be slug format (lowercase letters, numbers, hyphens), max 100 characters, and unique. Pass `null` to clear tags.'
                  example:
                    - wordpress
                    - staging
                  items:
                    type: string
    delete:
      summary: 'Delete Site'
      operationId: deleteSite
      description: "Initiates deletion of a site. This terminates the site's development container\nand CDN resources. The site status transitions to `terminating` and eventually\n`terminated`.\n\n**Important:** All environments must be terminated before the site can be deleted.\nUse the environment delete endpoint to terminate each environment first.\n\nThis operation is irreversible. All site data and configurations will be\npermanently removed."
      parameters: []
      responses:
        202:
          description: Accepted
          content:
            application/json:
              schema:
                type: object
                example:
                  data:
                    id: 01JFGXK4NQRST5VWX9YZ0ABCDE
                    your_customer_id: cust_12345
                    status: terminating
                    tags: []
                    dev_domain: site-abc123.dev.example.com
                    dev_db_host: dev-cluster.abc123.us-east-1.rds.amazonaws.com
                    dev_db_name: db_01jfgxk4nqrst5vwx9yz0abcde
                    environments: []
                    created_at: '2025-05-27T09:50:21+00:00'
                    updated_at: '2025-05-27T10:30:45+00:00'
                  message: 'Vector site deletion initiated'
                  http_status: 202
                properties:
                  data:
                    type: object
                    properties:
                      id:
                        type: string
                        example: 01JFGXK4NQRST5VWX9YZ0ABCDE
                      your_customer_id:
                        type: string
                        example: cust_12345
                      status:
                        type: string
                        example: terminating
                      tags:
                        type: array
                        example: []
                      dev_domain:
                        type: string
                        example: site-abc123.dev.example.com
                      dev_db_host:
                        type: string
                        example: dev-cluster.abc123.us-east-1.rds.amazonaws.com
                      dev_db_name:
                        type: string
                        example: db_01jfgxk4nqrst5vwx9yz0abcde
                      environments:
                        type: array
                        example: []
                      created_at:
                        type: string
                        example: '2025-05-27T09:50:21+00:00'
                      updated_at:
                        type: string
                        example: '2025-05-27T10:30:45+00:00'
                  message:
                    type: string
                    example: 'Vector site deletion initiated'
                  http_status:
                    type: integer
                    example: 202
        401:
          description: Unauthenticated
          content:
            application/json:
              schema:
                type: object
                example:
                  data: {  }
                  message: Unauthenticated
                  http_status: 401
                properties:
                  data:
                    type: object
                    properties: {  }
                  message:
                    type: string
                    example: Unauthenticated
                  http_status:
                    type: integer
                    example: 401
        403:
          description: Unauthorized
          content:
            application/json:
              schema:
                type: object
                example:
                  data: {  }
                  message: Unauthorized
                  http_status: 403
                properties:
                  data:
                    type: object
                    properties: {  }
                  message:
                    type: string
                    example: Unauthorized
                  http_status:
                    type: integer
                    example: 403
        404:
          description: 'Not Found'
          content:
            application/json:
              schema:
                type: object
                example:
                  data: {  }
                  message: 'Site not found'
                  http_status: 404
                properties:
                  data:
                    type: object
                    properties: {  }
                  message:
                    type: string
                    example: 'Site not found'
                  http_status:
                    type: integer
                    example: 404
        422:
          description: 'Active Environments'
          content:
            application/json:
              schema:
                type: object
                example:
                  data: {  }
                  errors:
                    site:
                      - 'Cannot delete site that has active environments. Please terminate all environments first.'
                  message: 'Validation failed'
                  http_status: 422
                properties:
                  data:
                    type: object
                    properties: {  }
                  errors:
                    type: object
                    properties:
                      site:
                        type: array
                        example:
                          - 'Cannot delete site that has active environments. Please terminate all environments first.'
                        items:
                          type: string
                  message:
                    type: string
                    example: 'Validation failed'
                  http_status:
                    type: integer
                    example: 422
      tags:
        - Sites
    parameters:
      -
        in: path
        name: site
        description: 'The site ID.'
        example: 01jfgxk4nqrst5vwx9yz0abcde
        required: true
        schema:
          type: string
  '/api/v1/vector/sites/{site}/suspend':
    put:
      summary: 'Suspend Site'
      operationId: suspendSite
      description: "Suspends a site's development container by scaling the ECS service to zero.\nThis reduces costs during low-traffic periods while preserving container\nresources for quick resumption.\n\nThe site must be in `active` status to be suspended. Suspended sites can be\nresumed using the unsuspend endpoint."
      parameters: []
      responses:
        200:
          description: Success
          content:
            application/json:
              schema:
                type: object
                example:
                  data:
                    id: 01JFGXK4NQRST5VWX9YZ0ABCDE
                    account_id: 1
                    your_customer_id: cust_12345
                    status: suspended
                    tags: []
                    dev_domain: site-abc123.dev.example.com
                    environments: []
                    created_at: '2025-05-27T09:50:21+00:00'
                    updated_at: '2025-05-27T10:30:45+00:00'
                  message: 'Vector site suspension initiated'
                  http_status: 200
                properties:
                  data:
                    type: object
                    properties:
                      id:
                        type: string
                        example: 01JFGXK4NQRST5VWX9YZ0ABCDE
                      account_id:
                        type: integer
                        example: 1
                      your_customer_id:
                        type: string
                        example: cust_12345
                      status:
                        type: string
                        example: suspended
                      tags:
                        type: array
                        example: []
                      dev_domain:
                        type: string
                        example: site-abc123.dev.example.com
                      environments:
                        type: array
                        example: []
                      created_at:
                        type: string
                        example: '2025-05-27T09:50:21+00:00'
                      updated_at:
                        type: string
                        example: '2025-05-27T10:30:45+00:00'
                  message:
                    type: string
                    example: 'Vector site suspension initiated'
                  http_status:
                    type: integer
                    example: 200
        401:
          description: Unauthenticated
          content:
            application/json:
              schema:
                type: object
                example:
                  data: {  }
                  message: Unauthenticated
                  http_status: 401
                properties:
                  data:
                    type: object
                    properties: {  }
                  message:
                    type: string
                    example: Unauthenticated
                  http_status:
                    type: integer
                    example: 401
        403:
          description: Unauthorized
          content:
            application/json:
              schema:
                type: object
                example:
                  data: {  }
                  message: Unauthorized
                  http_status: 403
                properties:
                  data:
                    type: object
                    properties: {  }
                  message:
                    type: string
                    example: Unauthorized
                  http_status:
                    type: integer
                    example: 403
        404:
          description: 'Not Found'
          content:
            application/json:
              schema:
                type: object
                example:
                  data: {  }
                  message: 'Site not found'
                  http_status: 404
                properties:
                  data:
                    type: object
                    properties: {  }
                  message:
                    type: string
                    example: 'Site not found'
                  http_status:
                    type: integer
                    example: 404
        422:
          description: 'Invalid State'
          content:
            application/json:
              schema:
                type: object
                example:
                  data: {  }
                  errors:
                    status:
                      - "Site cannot be suspended from current state 'pending'. Site must be 'active' to be suspended."
                  message: "Site cannot be suspended from current state 'pending'. Site must be 'active' to be suspended."
                  http_status: 422
                properties:
                  data:
                    type: object
                    properties: {  }
                  errors:
                    type: object
                    properties:
                      status:
                        type: array
                        example:
                          - "Site cannot be suspended from current state 'pending'. Site must be 'active' to be suspended."
                        items:
                          type: string
                  message:
                    type: string
                    example: "Site cannot be suspended from current state 'pending'. Site must be 'active' to be suspended."
                  http_status:
                    type: integer
                    example: 422
      tags:
        - Sites
    parameters:
      -
        in: path
        name: site
        description: 'The site ID.'
        example: 01jfgxk4nqrst5vwx9yz0abcde
        required: true
        schema:
          type: string
  '/api/v1/vector/sites/{site}/unsuspend':
    put:
      summary: 'Unsuspend Site'
      operationId: unsuspendSite
      description: "Resumes a previously suspended site's development container by scaling the\nECS service back to one. The site must be in `suspended` status to be unsuspended.\n\nAfter unsuspension, the site transitions back to `active` status and resumes\nserving traffic."
      parameters: []
      responses:
        200:
          description: Success
          content:
            application/json:
              schema:
                type: object
                example:
                  data:
                    id: 01JFGXK4NQRST5VWX9YZ0ABCDE
                    account_id: 1
                    your_customer_id: cust_12345
                    status: active
                    tags: []
                    dev_domain: site-abc123.dev.example.com
                    environments: []
                    created_at: '2025-05-27T09:50:21+00:00'
                    updated_at: '2025-05-27T10:30:45+00:00'
                  message: 'Vector site unsuspension initiated'
                  http_status: 200
                properties:
                  data:
                    type: object
                    properties:
                      id:
                        type: string
                        example: 01JFGXK4NQRST5VWX9YZ0ABCDE
                      account_id:
                        type: integer
                        example: 1
                      your_customer_id:
                        type: string
                        example: cust_12345
                      status:
                        type: string
                        example: active
                      tags:
                        type: array
                        example: []
                      dev_domain:
                        type: string
                        example: site-abc123.dev.example.com
                      environments:
                        type: array
                        example: []
                      created_at:
                        type: string
                        example: '2025-05-27T09:50:21+00:00'
                      updated_at:
                        type: string
                        example: '2025-05-27T10:30:45+00:00'
                  message:
                    type: string
                    example: 'Vector site unsuspension initiated'
                  http_status:
                    type: integer
                    example: 200
        401:
          description: Unauthenticated
          content:
            application/json:
              schema:
                type: object
                example:
                  data: {  }
                  message: Unauthenticated
                  http_status: 401
                properties:
                  data:
                    type: object
                    properties: {  }
                  message:
                    type: string
                    example: Unauthenticated
                  http_status:
                    type: integer
                    example: 401
        403:
          description: Unauthorized
          content:
            application/json:
              schema:
                type: object
                example:
                  data: {  }
                  message: Unauthorized
                  http_status: 403
                properties:
                  data:
                    type: object
                    properties: {  }
                  message:
                    type: string
                    example: Unauthorized
                  http_status:
                    type: integer
                    example: 403
        404:
          description: 'Not Found'
          content:
            application/json:
              schema:
                type: object
                example:
                  data: {  }
                  message: 'Site not found'
                  http_status: 404
                properties:
                  data:
                    type: object
                    properties: {  }
                  message:
                    type: string
                    example: 'Site not found'
                  http_status:
                    type: integer
                    example: 404
        422:
          description: 'Invalid State'
          content:
            application/json:
              schema:
                type: object
                example:
                  data: {  }
                  errors:
                    status:
                      - "Site cannot be unsuspended from current state 'active'. Site must be 'suspended' to be unsuspended."
                  message: "Site cannot be unsuspended from current state 'active'. Site must be 'suspended' to be unsuspended."
                  http_status: 422
                properties:
                  data:
                    type: object
                    properties: {  }
                  errors:
                    type: object
                    properties:
                      status:
                        type: array
                        example:
                          - "Site cannot be unsuspended from current state 'active'. Site must be 'suspended' to be unsuspended."
                        items:
                          type: string
                  message:
                    type: string
                    example: "Site cannot be unsuspended from current state 'active'. Site must be 'suspended' to be unsuspended."
                  http_status:
                    type: integer
                    example: 422
      tags:
        - Sites
    parameters:
      -
        in: path
        name: site
        description: 'The site ID.'
        example: 01jfgxk4nqrst5vwx9yz0abcde
        required: true
        schema:
          type: string
  '/api/v1/vector/sites/{site}/clone':
    post:
      summary: 'Clone Site'
      operationId: cloneSite
      description: "Creates a new site by cloning an existing site's development container,\nincluding files and database. Only the development container is cloned;\nproduction and staging environments are not copied. The new site is created\nwith fresh, empty environments.\n\nThis workflow is useful for testing larger redesigns or refactors in\nisolation while still allowing maintenance of the original site. The cloned\nsite operates independently, so changes to one do not affect the other.\n\nThe new site inherits attributes from the source site unless overridden in\nthe request. The cloned site is created with a `pending` status and will\ntransition to `active` once the clone operation completes."
      parameters: []
      responses:
        201:
          description: Created
          content:
            application/json:
              schema:
                type: object
                example:
                  data:
                    id: 01JFGXK4NQRST5VWX9YZ0ABCDF
                    your_customer_id: cust_12345
                    status: pending
                    tags:
                      - wordpress
                      - clone
                    dev_domain: site-xyz789.dev.example.com
                    dev_db_username: db_01jfgxk4nqrst5vwx9yz0abcdf
                    dev_db_password: 'aBcD1234!@#$EfGh5678'
                    environments: []
                    created_at: '2025-05-27T09:50:21+00:00'
                    updated_at: '2025-05-27T09:50:21+00:00'
                  message: 'Vector site clone initiated'
                  http_status: 201
                properties:
                  data:
                    type: object
                    properties:
                      id:
                        type: string
                        example: 01JFGXK4NQRST5VWX9YZ0ABCDF
                      your_customer_id:
                        type: string
                        example: cust_12345
                      status:
                        type: string
                        example: pending
                      tags:
                        type: array
                        example:
                          - wordpress
                          - clone
                        items:
                          type: string
                      dev_domain:
                        type: string
                        example: site-xyz789.dev.example.com
                      dev_db_username:
                        type: string
                        example: db_01jfgxk4nqrst5vwx9yz0abcdf
                      dev_db_password:
                        type: string
                        example: 'aBcD1234!@#$EfGh5678'
                      environments:
                        type: array
                        example: []
                      created_at:
                        type: string
                        example: '2025-05-27T09:50:21+00:00'
                      updated_at:
                        type: string
                        example: '2025-05-27T09:50:21+00:00'
                  message:
                    type: string
                    example: 'Vector site clone initiated'
                  http_status:
                    type: integer
                    example: 201
        401:
          description: Unauthenticated
          content:
            application/json:
              schema:
                type: object
                example:
                  data: {  }
                  message: Unauthenticated
                  http_status: 401
                properties:
                  data:
                    type: object
                    properties: {  }
                  message:
                    type: string
                    example: Unauthenticated
                  http_status:
                    type: integer
                    example: 401
        403:
          description: Unauthorized
          content:
            application/json:
              schema:
                type: object
                example:
                  data: {  }
                  message: Unauthorized
                  http_status: 403
                properties:
                  data:
                    type: object
                    properties: {  }
                  message:
                    type: string
                    example: Unauthorized
                  http_status:
                    type: integer
                    example: 403
        404:
          description: 'Not Found'
          content:
            application/json:
              schema:
                type: object
                example:
                  data: {  }
                  message: 'Site not found'
                  http_status: 404
                properties:
                  data:
                    type: object
                    properties: {  }
                  message:
                    type: string
                    example: 'Site not found'
                  http_status:
                    type: integer
                    example: 404
        422:
          description: ''
          content:
            application/json:
              schema:
                oneOf:
                  -
                    description: 'Validation Error - Site Not Active'
                    type: object
                    example:
                      data: {  }
                      errors:
                        site:
                          - 'Source site must be in active state to clone.'
                      message: 'Validation failed'
                      http_status: 422
                    properties:
                      data:
                        type: object
                        properties: {  }
                      errors:
                        type: object
                        properties:
                          site:
                            type: array
                            example:
                              - 'Source site must be in active state to clone.'
                            items:
                              type: string
                      message:
                        type: string
                        example: 'Validation failed'
                      http_status:
                        type: integer
                        example: 422
                  -
                    description: 'Validation Error - No Dev Container'
                    type: object
                    example:
                      data: {  }
                      errors:
                        site:
                          - 'Source site must have a dev container to clone.'
                      message: 'Validation failed'
                      http_status: 422
                    properties:
                      data:
                        type: object
                        properties: {  }
                      errors:
                        type: object
                        properties:
                          site:
                            type: array
                            example:
                              - 'Source site must have a dev container to clone.'
                            items:
                              type: string
                      message:
                        type: string
                        example: 'Validation failed'
                      http_status:
                        type: integer
                        example: 422
      tags:
        - Sites
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                your_customer_id:
                  type:
                    - string
                    - 'null'
                  description: 'Optional customer identifier. Inherits from source if not provided.'
                  example: cust_67890
                dev_php_version:
                  type:
                    - string
                    - 'null'
                  description: 'Optional PHP version. Inherits from source if not provided.'
                  example: '8.3'
                tags:
                  type: array
                  description: 'Optional tags. Inherits from source if not provided.'
                  example:
                    - wordpress
                    - clone
                  items:
                    type: string
    parameters:
      -
        in: path
        name: site
        description: 'The source site ID to clone from.'
        example: 01jfgxk4nqrst5vwx9yz0abcde
        required: true
        schema:
          type: string
  '/api/v1/vector/sites/{site}/sftp/reset-password':
    post:
      summary: 'Reset Password'
      operationId: sitesSFTPResetPassword
      description: "Generates a new SFTP password for the site's development container.\nThe old password is immediately invalidated.\n\n> [!WARNING]\n> The new password is returned ONLY in this response. Store it securely—it cannot be retrieved again.\n\nSFTP connection details:\n- hostname: ssh.{partner-domain} (e.g., ssh.vectorpages.com)\n- port: 22\n- username: site subdomain (e.g., my-site)\n- password: the generated password"
      parameters: []
      responses:
        200:
          description: Success
          content:
            application/json:
              schema:
                type: object
                example:
                  data:
                    id: 01JFGXK4NQRST5VWX9YZ0ABCDE
                    your_customer_id: null
                    status: active
                    dev_php_version: '8.3'
                    tags: []
                    dev_domain: my-site.vectorpages.com
                    dev_sftp:
                      hostname: ssh.vectorpages.com
                      port: 22
                      username: my-site
                      password: 'aBcD1234!@#$EfGh5678'
                    environments: []
                    created_at: '2024-01-01T00:00:00.000000Z'
                    updated_at: '2024-01-01T00:00:00.000000Z'
                  message: 'SFTP password reset successfully. Store the new password securely - it will not be shown again.'
                  http_status: 200
                properties:
                  data:
                    type: object
                    properties:
                      id:
                        type: string
                        example: 01JFGXK4NQRST5VWX9YZ0ABCDE
                      your_customer_id:
                        type: string
                        example: null
                      status:
                        type: string
                        example: active
                      dev_php_version:
                        type: string
                        example: '8.3'
                      tags:
                        type: array
                        example: []
                      dev_domain:
                        type: string
                        example: my-site.vectorpages.com
                      dev_sftp:
                        type: object
                        properties:
                          hostname:
                            type: string
                            example: ssh.vectorpages.com
                          port:
                            type: integer
                            example: 22
                          username:
                            type: string
                            example: my-site
                          password:
                            type: string
                            example: 'aBcD1234!@#$EfGh5678'
                      environments:
                        type: array
                        example: []
                      created_at:
                        type: string
                        example: '2024-01-01T00:00:00.000000Z'
                      updated_at:
                        type: string
                        example: '2024-01-01T00:00:00.000000Z'
                  message:
                    type: string
                    example: 'SFTP password reset successfully. Store the new password securely - it will not be shown again.'
                  http_status:
                    type: integer
                    example: 200
        401:
          description: Unauthenticated
          content:
            application/json:
              schema:
                type: object
                example:
                  data: {  }
                  message: Unauthenticated
                  http_status: 401
                properties:
                  data:
                    type: object
                    properties: {  }
                  message:
                    type: string
                    example: Unauthenticated
                  http_status:
                    type: integer
                    example: 401
        403:
          description: Unauthorized
          content:
            application/json:
              schema:
                type: object
                example:
                  data: {  }
                  message: Unauthorized
                  http_status: 403
                properties:
                  data:
                    type: object
                    properties: {  }
                  message:
                    type: string
                    example: Unauthorized
                  http_status:
                    type: integer
                    example: 403
        404:
          description: 'Not Found'
          content:
            application/json:
              schema:
                type: object
                example:
                  data: {  }
                  message: 'Site not found'
                  http_status: 404
                properties:
                  data:
                    type: object
                    properties: {  }
                  message:
                    type: string
                    example: 'Site not found'
                  http_status:
                    type: integer
                    example: 404
      tags:
        - Sites
    parameters:
      -
        in: path
        name: site
        description: 'The site ID.'
        example: 01jfgxk4nqrst5vwx9yz0abcde
        required: true
        schema:
          type: string
  '/api/v1/vector/sites/{site}/db/reset-password':
    post:
      summary: 'Reset Password'
      operationId: sitesDatabasesResetPassword
      description: "Generates a new database password for the site's development container.\nThe old password is immediately invalidated.\n\n> [!WARNING]\n> The new password is returned ONLY in this response. Store it securely—it cannot be retrieved again."
      parameters: []
      responses:
        200:
          description: Success
          content:
            application/json:
              schema:
                type: object
                example:
                  data:
                    id: 01JFGXK4NQRST5VWX9YZ0ABCDE
                    your_customer_id: null
                    status: active
                    dev_php_version: '8.3'
                    tags: []
                    dev_domain: site-abc123.vectorpages.com
                    dev_db_username: db_01jfgxk4nqrst5vwx9yz0abcde
                    dev_db_password: 'aBcD1234!@#$EfGh5678'
                    environments: []
                    created_at: '2024-01-01T00:00:00.000000Z'
                    updated_at: '2024-01-01T00:00:00.000000Z'
                  message: 'Database password reset successfully. Store the new password securely - it will not be shown again.'
                  http_status: 200
                properties:
                  data:
                    type: object
                    properties:
                      id:
                        type: string
                        example: 01JFGXK4NQRST5VWX9YZ0ABCDE
                      your_customer_id:
                        type: string
                        example: null
                      status:
                        type: string
                        example: active
                      dev_php_version:
                        type: string
                        example: '8.3'
                      tags:
                        type: array
                        example: []
                      dev_domain:
                        type: string
                        example: site-abc123.vectorpages.com
                      dev_db_username:
                        type: string
                        example: db_01jfgxk4nqrst5vwx9yz0abcde
                      dev_db_password:
                        type: string
                        example: 'aBcD1234!@#$EfGh5678'
                      environments:
                        type: array
                        example: []
                      created_at:
                        type: string
                        example: '2024-01-01T00:00:00.000000Z'
                      updated_at:
                        type: string
                        example: '2024-01-01T00:00:00.000000Z'
                  message:
                    type: string
                    example: 'Database password reset successfully. Store the new password securely - it will not be shown again.'
                  http_status:
                    type: integer
                    example: 200
        401:
          description: Unauthenticated
          content:
            application/json:
              schema:
                type: object
                example:
                  data: {  }
                  message: Unauthenticated
                  http_status: 401
                properties:
                  data:
                    type: object
                    properties: {  }
                  message:
                    type: string
                    example: Unauthenticated
                  http_status:
                    type: integer
                    example: 401
        403:
          description: Unauthorized
          content:
            application/json:
              schema:
                type: object
                example:
                  data: {  }
                  message: Unauthorized
                  http_status: 403
                properties:
                  data:
                    type: object
                    properties: {  }
                  message:
                    type: string
                    example: Unauthorized
                  http_status:
                    type: integer
                    example: 403
        404:
          description: 'Not Found'
          content:
            application/json:
              schema:
                type: object
                example:
                  data: {  }
                  message: 'Site not found'
                  http_status: 404
                properties:
                  data:
                    type: object
                    properties: {  }
                  message:
                    type: string
                    example: 'Site not found'
                  http_status:
                    type: integer
                    example: 404
      tags:
        - Sites
    parameters:
      -
        in: path
        name: site
        description: 'The site ID.'
        example: 01jfgxk4nqrst5vwx9yz0abcde
        required: true
        schema:
          type: string
  '/api/v1/vector/sites/{site}/wp/reconfig':
    post:
      summary: 'Regenerate wp-config.php'
      operationId: sitesWordPressRegenerateWpConfig.php
      description: "Regenerates the wp-config.php file for the site's development container\nwith current database credentials, WP_HOME/WP_SITEURL, and HMAC secret."
      parameters: []
      responses:
        200:
          description: Success
          content:
            application/json:
              schema:
                type: object
                example:
                  data:
                    id: 01JFGXK4NQRST5VWX9YZ0ABCDE
                    your_customer_id: null
                    status: active
                    dev_php_version: '8.3'
                    tags: []
                    dev_domain: my-site.vectorpages.com
                    environments: []
                    created_at: '2024-01-01T00:00:00.000000Z'
                    updated_at: '2024-01-01T00:00:00.000000Z'
                  message: 'WordPress configuration regenerated successfully'
                  http_status: 200
                properties:
                  data:
                    type: object
                    properties:
                      id:
                        type: string
                        example: 01JFGXK4NQRST5VWX9YZ0ABCDE
                      your_customer_id:
                        type: string
                        example: null
                      status:
                        type: string
                        example: active
                      dev_php_version:
                        type: string
                        example: '8.3'
                      tags:
                        type: array
                        example: []
                      dev_domain:
                        type: string
                        example: my-site.vectorpages.com
                      environments:
                        type: array
                        example: []
                      created_at:
                        type: string
                        example: '2024-01-01T00:00:00.000000Z'
                      updated_at:
                        type: string
                        example: '2024-01-01T00:00:00.000000Z'
                  message:
                    type: string
                    example: 'WordPress configuration regenerated successfully'
                  http_status:
                    type: integer
                    example: 200
        401:
          description: Unauthenticated
          content:
            application/json:
              schema:
                type: object
                example:
                  data: {  }
                  message: Unauthenticated
                  http_status: 401
                properties:
                  data:
                    type: object
                    properties: {  }
                  message:
                    type: string
                    example: Unauthenticated
                  http_status:
                    type: integer
                    example: 401
        403:
          description: Unauthorized
          content:
            application/json:
              schema:
                type: object
                example:
                  data: {  }
                  message: Unauthorized
                  http_status: 403
                properties:
                  data:
                    type: object
                    properties: {  }
                  message:
                    type: string
                    example: Unauthorized
                  http_status:
                    type: integer
                    example: 403
        422:
          description: 'Not Active'
          content:
            application/json:
              schema:
                type: object
                example:
                  data: {  }
                  errors:
                    status:
                      - "Site must be active to regenerate wp-config. Current state: 'pending'."
                  message: "Site must be active to regenerate wp-config. Current state: 'pending'."
                  http_status: 422
                properties:
                  data:
                    type: object
                    properties: {  }
                  errors:
                    type: object
                    properties:
                      status:
                        type: array
                        example:
                          - "Site must be active to regenerate wp-config. Current state: 'pending'."
                        items:
                          type: string
                  message:
                    type: string
                    example: "Site must be active to regenerate wp-config. Current state: 'pending'."
                  http_status:
                    type: integer
                    example: 422
      tags:
        - Sites
    parameters:
      -
        in: path
        name: site
        description: 'The site ID.'
        example: 01jfgxk4nqrst5vwx9yz0abcde
        required: true
        schema:
          type: string
  '/api/v1/vector/sites/{site}/db/import':
    post:
      summary: 'Import Directly'
      operationId: sitesDatabasesImportDirectly
      description: "Import SQL content directly from the request body. For files under 50MB.\nThe request body should contain raw SQL content with Content-Type: application/sql.\n\nThis is a synchronous operation that blocks until the import completes."
      parameters:
        -
          in: query
          name: drop_tables
          description: 'Drop all existing tables before import. Default: false.'
          example: true
          required: false
          schema:
            type:
              - boolean
              - 'null'
            description: 'Drop all existing tables before import. Default: false.'
            example: true
        -
          in: query
          name: disable_foreign_keys
          description: 'Disable foreign key checks during import. Default: true.'
          example: true
          required: false
          schema:
            type:
              - boolean
              - 'null'
            description: 'Disable foreign key checks during import. Default: true.'
            example: true
        -
          in: query
          name: search_replace_from
          description: 'The domain/string to search for after import. Required with `search_replace_to`.'
          example: oldsite.com
          required: false
          schema:
            type:
              - string
              - 'null'
            description: 'The domain/string to search for after import. Required with `search_replace_to`.'
            example: oldsite.com
        -
          in: query
          name: search_replace_to
          description: 'The domain/string to replace with after import. Required with `search_replace_from`.'
          example: dev.newsite.builtfast.dev
          required: false
          schema:
            type:
              - string
              - 'null'
            description: 'The domain/string to replace with after import. Required with `search_replace_from`.'
            example: dev.newsite.builtfast.dev
      responses:
        200:
          description: Success
          content:
            application/json:
              schema:
                type: object
                example:
                  data:
                    success: true
                    duration_ms: 1234
                  message: 'Database imported successfully'
                  http_status: 200
                properties:
                  data:
                    type: object
                    properties:
                      success:
                        type: boolean
                        example: true
                      duration_ms:
                        type: integer
                        example: 1234
                  message:
                    type: string
                    example: 'Database imported successfully'
                  http_status:
                    type: integer
                    example: 200
        401:
          description: Unauthenticated
          content:
            application/json:
              schema:
                type: object
                example:
                  data: {  }
                  message: Unauthenticated
                  http_status: 401
                properties:
                  data:
                    type: object
                    properties: {  }
                  message:
                    type: string
                    example: Unauthenticated
                  http_status:
                    type: integer
                    example: 401
        403:
          description: Unauthorized
          content:
            application/json:
              schema:
                type: object
                example:
                  data: {  }
                  message: Unauthorized
                  http_status: 403
                properties:
                  data:
                    type: object
                    properties: {  }
                  message:
                    type: string
                    example: Unauthorized
                  http_status:
                    type: integer
                    example: 403
        404:
          description: 'Site Not Found'
          content:
            application/json:
              schema:
                type: object
                example:
                  data: {  }
                  message: 'Site not found'
                  http_status: 404
                properties:
                  data:
                    type: object
                    properties: {  }
                  message:
                    type: string
                    example: 'Site not found'
                  http_status:
                    type: integer
                    example: 404
        422:
          description: 'Empty Body'
          content:
            application/json:
              schema:
                type: object
                example:
                  data: {  }
                  errors:
                    content:
                      - 'SQL content is required in the request body'
                  message: 'Request body is empty'
                  http_status: 422
                properties:
                  data:
                    type: object
                    properties: {  }
                  errors:
                    type: object
                    properties:
                      content:
                        type: array
                        example:
                          - 'SQL content is required in the request body'
                        items:
                          type: string
                  message:
                    type: string
                    example: 'Request body is empty'
                  http_status:
                    type: integer
                    example: 422
        500:
          description: 'Import Failed'
          content:
            application/json:
              schema:
                type: object
                example:
                  data:
                    success: false
                    duration_ms: 567
                    error: 'Access denied for user'
                  message: 'Database import failed'
                  http_status: 500
                properties:
                  data:
                    type: object
                    properties:
                      success:
                        type: boolean
                        example: false
                      duration_ms:
                        type: integer
                        example: 567
                      error:
                        type: string
                        example: 'Access denied for user'
                  message:
                    type: string
                    example: 'Database import failed'
                  http_status:
                    type: integer
                    example: 500
      tags:
        - Sites
    parameters:
      -
        in: path
        name: site
        description: 'The site ID.'
        example: 01jfgxk4nqrst5vwx9yz0abcde
        required: true
        schema:
          type: string
  '/api/v1/vector/sites/{site}/db/imports':
    post:
      summary: 'Create Import Session'
      operationId: sitesDatabasesCreateImportSession
      description: "Create a database import session for large files (>50MB). Returns a presigned\nS3 upload URL that can be used to upload the SQL file directly to storage.\n\nAfter uploading, call the \"Run Import\" endpoint to execute the import."
      parameters: []
      responses:
        201:
          description: Created
          content:
            application/json:
              schema:
                type: object
                example:
                  data:
                    id: 01JFGXK4NQRST5VWX9YZ0ABCDF
                    vector_site_id: 01JFGXK4NQRST5VWX9YZ0ABCDE
                    status: pending
                    filename: backup-2025-01-23.sql
                    content_length: 104857600
                    checksum:
                      provided_md5: d41d8cd98f00b204e9800998ecf8427e
                      s3_etag: null
                    options:
                      drop_tables: true
                      disable_foreign_keys: true
                      search_replace:
                        from: oldsite.com
                        to: dev.newsite.builtfast.dev
                    upload_url: 'https://s3.amazonaws.com/bucket/imports/...'
                    upload_expires_at: '2025-01-23T11:00:00+00:00'
                    duration_ms: null
                    error_message: null
                    created_at: '2025-01-23T10:00:00+00:00'
                    started_at: null
                    completed_at: null
                  message: 'Import session created successfully'
                  http_status: 201
                properties:
                  data:
                    type: object
                    properties:
                      id:
                        type: string
                        example: 01JFGXK4NQRST5VWX9YZ0ABCDF
                      vector_site_id:
                        type: string
                        example: 01JFGXK4NQRST5VWX9YZ0ABCDE
                      status:
                        type: string
                        example: pending
                      filename:
                        type: string
                        example: backup-2025-01-23.sql
                      content_length:
                        type: integer
                        example: 104857600
                      checksum:
                        type: object
                        properties:
                          provided_md5:
                            type: string
                            example: d41d8cd98f00b204e9800998ecf8427e
                          s3_etag:
                            type: string
                            example: null
                      options:
                        type: object
                        properties:
                          drop_tables:
                            type: boolean
                            example: true
                          disable_foreign_keys:
                            type: boolean
                            example: true
                          search_replace:
                            type: object
                            properties:
                              from:
                                type: string
                                example: oldsite.com
                              to:
                                type: string
                                example: dev.newsite.builtfast.dev
                      upload_url:
                        type: string
                        example: 'https://s3.amazonaws.com/bucket/imports/...'
                      upload_expires_at:
                        type: string
                        example: '2025-01-23T11:00:00+00:00'
                      duration_ms:
                        type: string
                        example: null
                      error_message:
                        type: string
                        example: null
                      created_at:
                        type: string
                        example: '2025-01-23T10:00:00+00:00'
                      started_at:
                        type: string
                        example: null
                      completed_at:
                        type: string
                        example: null
                  message:
                    type: string
                    example: 'Import session created successfully'
                  http_status:
                    type: integer
                    example: 201
        401:
          description: Unauthenticated
          content:
            application/json:
              schema:
                type: object
                example:
                  data: {  }
                  message: Unauthenticated
                  http_status: 401
                properties:
                  data:
                    type: object
                    properties: {  }
                  message:
                    type: string
                    example: Unauthenticated
                  http_status:
                    type: integer
                    example: 401
        403:
          description: Unauthorized
          content:
            application/json:
              schema:
                type: object
                example:
                  data: {  }
                  message: Unauthorized
                  http_status: 403
                properties:
                  data:
                    type: object
                    properties: {  }
                  message:
                    type: string
                    example: Unauthorized
                  http_status:
                    type: integer
                    example: 403
        404:
          description: 'Site Not Found'
          content:
            application/json:
              schema:
                type: object
                example:
                  data: {  }
                  message: 'Site not found'
                  http_status: 404
                properties:
                  data:
                    type: object
                    properties: {  }
                  message:
                    type: string
                    example: 'Site not found'
                  http_status:
                    type: integer
                    example: 404
        422:
          description: 'Validation Error'
          content:
            application/json:
              schema:
                type: object
                example:
                  data: {  }
                  errors:
                    content_length:
                      - 'The content length must not exceed 10GB.'
                  message: 'Validation failed'
                  http_status: 422
                properties:
                  data:
                    type: object
                    properties: {  }
                  errors:
                    type: object
                    properties:
                      content_length:
                        type: array
                        example:
                          - 'The content length must not exceed 10GB.'
                        items:
                          type: string
                  message:
                    type: string
                    example: 'Validation failed'
                  http_status:
                    type: integer
                    example: 422
      tags:
        - Sites
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                filename:
                  type:
                    - string
                    - 'null'
                  description: 'Optional filename for reference.'
                  example: backup-2025-01-23.sql
                content_length:
                  type:
                    - integer
                    - 'null'
                  description: 'Optional file size in bytes for validation.'
                  example: 104857600
                content_md5:
                  type:
[...]
